[2018-02-23 16:37] machour commented on #336
Hi, this is a know problem with a known solution:
  https://github.com/rebeccahughes/react-native-device-info#troubleshooting

[2018-02-23 16:37] #336 closed

[2018-02-23 16:42] nasy commented on #336
Sorry I did not see that section! Works great now :

[2018-02-23 16:53] sospedra commented on #260
solutions does not work

[2018-02-23 17:01] haystome commented on #260
@sospedra  it works for me, also make sure that the pods loaded into your project.

[2018-02-23 17:05] toblerpwn commented on #260
Huh...my issue actually came BACK after working for a few loads @ https://github.com/rebeccahughes/react-native-device-info/issues/260#issuecomment-367146615.

So, I concur, I still have the issue, and actually still don't have the library showing in Xcode. I'll post more if I have any new discoveries...

[2018-02-23 22:35] blumendorf commented on #335
Hello @machour,

thank you very much for your help here. I really appreciate it!
I have tried your suggestion and it does not seem to change anything. I have been working with mobile app development and react-native for a couple of weeks only, so I might be missing something trivial here.

Let me try to explain again what I am doing:
We are running e2e test for our app using detox and jest in iOS

[2018-02-23 23:25] machour commented on #335
My bad, I didn't really get that you were doing e2e tests 😄

I just cloned your project and first tried on iOS.
After building the app and running `yarn e2e:ios:debug` I get this and nothing happens (no logs, no test result, nothing in the simulator)

<img width="872" alt="screen shot 2018-02-24 at 12 22 17 am" src="https://user-images.githubusercontent.com/304450/36621568-edb4cce0-18f8-11e8-9d65-

[2018-02-24 01:53] RevanScript commented on #260
0.16.0 issue is still here

[2018-02-24 07:42] jcliang1212 opened #338 "getFreeDiskStorage does not return the same value as system setting in iOS"
when in iOS, use the express “getFreeDiskStorage()/1000000000” get 9.94GB, the "System Setting" show 9.73GB, and  use the express “getTotalDiskCapacity()/1000000000” get 13.23GB, the "System Setting" show 13.23GB. So, why getFreeDiskStorage() does not match the value of "System Setting" in iOS? Please help me, thanks. @crafterm @doochik @DracoBlue @stevemoser @jeveloper

[2018-02-24 07:47] DracoBlue commented on #331
I think a long should be ok, too.

[2018-02-24 07:50] DracoBlue commented on #338
Hey! The value is a integer in java and a floating point „number“ in JavaScript. Since this is the case, you don’t get 100% accuracy for each digit.

A possible solution could be to add a new function, which returns the storage in kb or mb with everything after the `.` beeing the kb/bytes.

E.g: 1200000 becomes 1.2

[2018-02-24 07:51] DracoBlue commented on #331
A possible solution could be to add a new function, which returns the storage in mb with everything after the `.` beeing the kb.

So we get rid of the long/int and have float.

E.g: 1200000 becomes 1.2

[2018-02-24 08:22] jcliang1212 commented on #338
@DracoBlue , thanks for your answer. But why the getTotalDiskCapacity() matches the value of "System Setting" in iOS? And getFreeDiskStorage() is bigger than the value of "System Setting" in iOS in some iPad and is smaller than the value of "System Setting" in iOS on other iPad. I do not think it is the problem of different data type between JS and other languages.

[2018-02-24 08:55] jcliang1212 commented on #338
@DracoBlue , this problem does not happen in iOS simulator.

[2018-02-24 09:16] DracoBlue commented on #338
This seems to be an issue with the way how iOS retrieves the amount of free disk space.

Can you try one of the alternative ways in this stackoverflow question: https://stackoverflow.com/questions/11717304/why-does-the-value-from-nsfilesystemfreesize-differ-from-the-free-size-reported ?

[2018-02-24 14:54] machour commented on #335
I was unable to run detox with iOS, but it worked for Android :)

I've successfully reproduced your problem and pinpointed it to this [particular line](https://github.com/rebeccahughes/react-native-device-info/blob/master/android/src/main/java/com/learnium/RNDeviceInfo/RNDeviceModule.java#L215).

Could you try commenting it in your `node_modules/` copy and re run your test suite?

[2018-02-24 15:05] machour commented on #335
Someone seems to have faced the same problem here: https://github.com/wix/detox/issues/395#issuecomment-365593821

[2018-02-24 15:44] blumendorf commented on #335
Removing this line brings me past the splash screen in both the react-native-detox-e-android and our project. Thanks for taking the time to look into it. I am very curious about the solution now.

[2018-02-25 07:29] anjasnewbie commented on #310
I have error like this too when gradlew
`MissingPermission: Missing Permissions
../../src/main/java/com/learnium/RNDeviceInfo/RNDeviceModule.java:54: Missing permissions required by WifiManager.getConnectionInfo: android.permission.ACCESS_WIFI_STATE

  51   private WifiInfo getWifiInfo() {
  52     if ( this.wifiInfo == null ) {
  53       WifiManager manager = (WifiManager) reactContext.getApplic

[2018-02-25 11:05] machour commented on #335
No worries, I always wanted to see how e2e tests works :)
I've posted details of the problem to the detox thread I mentioned, we'll see how it goes from there.
I also had a look at the android source for WebSettings but couldn't find anything obvious explaining why the test hangs

[2018-02-26 04:25] jcliang1212 commented on #338
@DracoBlue ，I agree with you, thanks! But I still do not find the solution. Here is another question: In Android, getTotalDiskCapacity()  do not get the right value, because "Integer" is not big enough, so I change the returned type of getTotalDiskCapacity() to Long, but It still not that right. The system setting show the total disk is 8.0GB, but I get 4.30 GB.

[2018-02-26 08:15] koswarabilly commented on #193
@egold so can i use it do identify if certain task was done in the same device?

[2018-02-26 17:21] machour commented on #323
`0.17.0` should be out in a few minutes shipping this new feature, enjoy!

[2018-02-26 17:21] #323 closed

[2018-02-26 17:30] machour commented on #323
0.17.1* 😅

[2018-02-26 20:06] machour commented on #258
Documented this react-native bug in the [troubleshooting](https://github.com/rebeccahughes/react-native-device-info#troubleshooting) section of README.md

[2018-02-26 20:06] #258 closed

[2018-02-26 20:07] #279 closed

[2018-02-26 20:12] lmichailian commented on #258
I resolve this deleting my project and create a new from zero and instead npm now I use yarn.

[2018-02-26 20:17] machour commented on #296
Documented in README.md

[2018-02-26 20:17] #296 closed

[2018-02-26 20:25] machour commented on #184
Documented in the [troubleshooting](https://github.com/rebeccahughes/react-native-device-info#troubleshooting) section

[2018-02-26 20:25] #184 closed

[2018-02-26 20:28] machour commented on #105
Documented how to disable com.google.android.gms in the [troubleshooting]( https://github.com/rebeccahughes/react-native-device-info#troubleshooting) section.
Will probably be dropped with next BC breaking release.

[2018-02-26 20:28] #105 closed

[2018-02-26 20:28] machour commented on #128
Documented how to disable com.google.android.gms in the [troubleshooting]( https://github.com/rebeccahughes/react-native-device-info#troubleshooting) section.
Will probably be dropped with next BC breaking release.

[2018-02-26 20:28] #128 closed

[2018-02-26 20:29] machour commented on #245
Documented how to disable com.google.android.gms in the [troubleshooting]( https://github.com/rebeccahughes/react-native-device-info#troubleshooting) section.
Will probably be dropped with next BC breaking release.

[2018-02-26 20:29] #245 closed

[2018-02-26 20:30] machour commented on #187
Documented how to disable com.google.android.gms in the [troubleshooting]( https://github.com/rebeccahughes/react-native-device-info#troubleshooting) section.
Will probably be dropped with next BC breaking release.

[2018-02-26 20:30] #187 closed

[2018-02-26 20:32] machour commented on #162
Is this still happening with the last release?

[2018-02-26 20:32] machour commented on #90
Documented how to disable com.google.android.gms in the [troubleshooting]( https://github.com/rebeccahughes/react-native-device-info#troubleshooting) section.
Will probably be dropped with next BC breaking release.

Closing this old issue that was about something else.

[2018-02-26 20:32] #90 closed

[2018-02-27 14:54] machour commented on #19
This was fixed in 0.17.2, thank you again @nicholasc !

[2018-02-27 14:54] #19 closed

[2018-02-27 14:55] machour commented on #198
The PR was merged in 0.17.2, thank you again @mikpalm  & @Ingibjorg  !

[2018-02-27 14:55] #198 closed

[2018-02-28 01:34] kyungjoongo commented on #243
great!

[2018-02-28 05:08] koswarabilly opened #340 "Label this issue as question"
can anyone tell me what it means by this?
**This is IDFV so it will change if all apps from the current apps vendor have been previously uninstalled.**

what condition that will change device IDFV ?? apps vendor? who is the app vendor?

[2018-02-28 10:07] machour commented on #340
Check https://developer.apple.com/documentation/uikit/uidevice/1620059-identifierforvendor (which is now linked from the README.md file)

[2018-02-28 10:07] #340 closed

[2018-02-28 10:08] shashanksinghal opened #341 "Attempt to invoke virtual method 'android.view.Window$Callback android.view.Window.getCallback()' on a null object reference in 0.17.2 release"
## Summary

|             |     |
| ----------- | --- |
| Version     | ?   |
| Affected OS | ?   |
| OS Version  | ?   |

## Current behavior

## Expected behavior

[2018-02-28 10:10] machour commented on #341
Please use the issue template and give more details about what you did.

[2018-02-28 10:10] #341 closed

[2018-02-28 10:13] machour commented on #181
Is this still happening with the last version?

[2018-02-28 13:45] zurez commented on #299
Current version is v0.17.2 . When do you plan to release the 1.0.0.
Your library is amazing and firebase is amazing too, and I want to keep both.
So thank you very much for your efforts.

[2018-02-28 13:51] machour commented on #299
@zurez thank you for reaching out.
I'm currently waiting to merge or close the remaining PRs and setup a Windows 10 computer to be able to work on the react-native-windows binding, I'd hate to lose windows compatibility for 1.0

[2018-02-28 14:13] NichAga opened #342 "Production builds crash. Android only (WindowManager)."
## Summary

| Version     | 0.17.2   |
| Affected OS | Android   |
| OS Version  | 5.0.2   |

## Current behavior
Debug builds work as expected, however release builds crash.
Here is the log:

E/ReactNativeJS( 6156):
E/ReactNativeJS( 6156): java.lang.NullPointerException: Attempt to invoke virtual method 'android.view.WindowManager android.app.Activity.getWindowManager()' on a null object referenc

[2018-02-28 14:28] machour commented on #342
Hi and thank you for reporting this!

[code]

The problem seems to have been introduced in 0.17.2 with the modification to `isTablet()`.
Would you mind changing locally `getCurrentActivity()` to `getReactApplicationContext()` in this line
 https://github.com/rebeccahughes/react-native-device-info/blob/master/android/src/main/java/com/learnium/RNDeviceInfo/RNDeviceModule.java#L99
and tell me if it

[2018-02-28 14:44] NichAga commented on #342
error: cannot find symbol
    getReactApplicationContext().getWindowManager().getDefaultDisplay().getMetrics(metrics);

symbol:   method getWindowManager()

[2018-03-01 08:46] machour commented on #342
@mikpalm do you have the time to look into this today by any chance?

[2018-03-01 09:24] mikpalmen commented on #342
Ill have a look. right now.

[2018-03-01 09:35] mikpalmen commented on #342
What react-native version are you running? just tested this with 0.48.4 and it works for me, but just so i know what to look for/at. @NichAga

[2018-03-01 09:50] mikpalmen commented on #342
Updated the repo. @machour @NichAga
changes made
line 98-99.
[code]
to
[code]

[2018-03-01 10:02] machour commented on #342
@NichAga could you possibly test @mikpalmen suggestion and report back?

[2018-03-01 10:16] NichAga commented on #342
@machour it works.

[2018-03-01 10:51] machour commented on #342
Fixed in 0.17.3, many thanks to you both!

[2018-03-01 10:51] #342 closed

[2018-03-01 10:54] NichAga commented on #342
@machour Sorry for the late reply, I was working on another thing but yes, it works.

[2018-03-05 02:08] #181 closed

[2018-03-05 02:10] #162 closed

[2018-03-05 02:39] jcliang1212 opened #346 "getTotalDiskCapacity() do not get the same value as ”System Setting“ In android"
In Android, getTotalDiskCapacity() do not get the right value。 So I change the Java code as follow:
[code]

But the function returns 4.3GB, but the System Setting show 8.0GB. The Android device is "SM-T719C - 6.0.1". Can anyone tell me why? Thanks! @crafterm @doochik @DracoBlue @stevemoser @jeveloper

[2018-03-05 14:09] robertherber opened #347 "Make it build with iOS App Extensions"
## Summary

|             |     |
| ----------- | --- |
| Version     | 17.3   |
| Affected OS | ios   |
| OS Version  | 11.2   |

## Current behavior

When using `react-native-device-info` in an iOS App Extension it fails to build because sharedApplication is referenced once `RNDeviceInfo.m:207`:

`
'sharedApplication' is unavailable: not available on iOS (App Extension) - Use view controller bas

[2018-03-05 14:12] machour commented on #347
Thank you for logging this issue! Not an objective-c guy neither, so any help would be appreciated :)

[2018-03-05 14:44] leobetosouza opened #348 "Multiple dex files define Lcom/google/android/gms/internal/zzfgn"
## Summary

|             |     |
| ----------- | --- |
| Version     | 0.17.3  |
| Affected OS | Android  |
| OS Version  | 23   |

## Current behavior

When a try to build app with `react-native-device-info` I'm getting this error:

[code]

[2018-03-05 15:34] machour commented on #348
This is covered in the troubleshooting section and will be removed in next BC breaking release.
   https://github.com/rebeccahughes/react-native-device-info#troubleshooting

[2018-03-05 15:34] #348 closed

[2018-03-07 11:58] machour commented on #293
getMACAddress() was fixed in 0.17.4

As for the serial, we're using Build.SERIAL that seems to work well on my OnePlus 5T (don't mind the mac address in the screenshot):

| Test | Settings |
| ---- | ---- |
| ![screenshot_20180307-125418](https://user-images.githubusercontent.com/304450/37091003-e36f65f8-2206-11e8-9cd3-d10070e18132.jpg) | ![screenshot_20180307-125412](https://user-images.githubuse

[2018-03-07 11:58] #293 closed

[2018-03-07 12:07] natterstefan commented on #293
Hi @machour, I will test it (as soon as I can) and re-open it if needed. Thanks for your help.

[2018-03-09 04:46] huybq95 opened #351 "Error IOS DeviceInfo.getUniqueID() return same ID"
hi @rebeccahughes i got this issuse when test in 2 device iPhone 6 and 6s this DeviceInfo.getUniqueID() return same ID. Any solution for that ?

[2018-03-09 16:58] IljaDaderko opened #352 "CI build hangs during pod installation after adding rndi."
## Summary
Hey guys, I added `react-native-device-info` to my project, some really useful data, thank you! I stumbled upon this issue however, this library adds following pod `'RNDeviceInfo', :path => '../node_modules/react-native-device-info'` for some reason it also relies on `React` pod?

When I'm running my build in CI, my `pod install` step hangs at this bit

[code]

Any ideas on the fix? Why

[2018-03-10 15:16] riheldo commented on #251
Well, my issue was diferent, but remove libRNDeviceinfo-tvOS.a works!

[2018-03-12 08:18] rohitgoyal opened #353 "iOS automatic linking is not working."
## Summary

Version: 0.17.4

## Current behavior

RNDeviceInfo automatic linking fails on iOS while it shows success on terminal.
## Expected behavior

RNDeviceInfo should be present in Libraries in Xcode.

[2018-03-12 08:42] machour commented on #353
Hi, what's the command you're using?

[2018-03-12 12:46] machour commented on #352
Hi @IljaDaderko, never used pods so I'm not sure what to do here.
Would you like to open a PR to remove the React pod if that's the problem?

[2018-03-12 14:29] dougjedwards commented on #353
I'm having exactly the same issue.

I'm using:
react-native link react-native-device-info

[2018-03-12 16:08] SandroMachado commented on #353
Same here!

[2018-03-12 16:44] machour commented on #353
Just tested this on a ejected CRNA, the library gets correctly linked for me:

<img width="275" alt="screen shot 2018-03-12 at 5 42 12 pm" src="https://user-images.githubusercontent.com/304450/37296982-cfa90686-261c-11e8-94df-cd9a8dd2be8a.png">

If however, you're facing the following error : `ld: library not found for -lRNDeviceInfo-tvOS`
You can manually delete libRNDeviceInfo-tvOS.a in Xcode ->

[2018-03-12 23:57] SandroMachado opened #355 "[Discussion] `getUniqueID` for Android should use another implementation"
`getUniqueID` function for android returns the constant `ANDROID_ID`. Based on an official [post](https://android-developers.googleblog.com/2011/03/identifying-app-installations.html) from Google at the android developers blog, the `ANDROID_ID` is not reliable.

In another [document](https://developer.android.com/training/articles/user-data-ids.html) from google, they suggest to identify the app c

[2018-03-12 23:58] SandroMachado commented on #353
My project uses `lerna` and so on, so, probably can be related to that.

[2018-03-13 16:29] schumannd commented on #353
@machour i am getting that exact error. Shouldn't this be handled by `react-native link`?

[2018-03-13 16:31] machour commented on #353
@schumannd it currently works for me so I'm not seeing the problem.. could you investigate a bit?

[2018-03-14 10:54] machour commented on #355
@SandroMachado thank you so much for bringing this up. In fact, I was thinking of moving getUniqueID() from native to the javascript land and use the same implementation for the three platforms (we could also implement it for react-native-web if needed).

As this is a BC breaking changes, this will have to be shipped in 1.0.0. Have a look at #307 for the rest of the plans and don't hesitate to com

[2018-03-14 11:05] SandroMachado commented on #355
I think that we should keep this on native side, to take the advantage of the apple/iOS api, that is really well designed.

On Android, like I said before, I can make a PR to update this API to match the iOS behaviour (removing the vendor logic) since they have an API to generate UUID (`UUID.randomUUID().toString();`). WDYT?

Also, to generate a UUID on JS side, from my search, I didn't find any s

[2018-03-14 11:10] machour commented on #355
I totally agree. Feel free to work on a PR for the implementation whenever you want :)

[2018-03-14 12:45] SandroMachado commented on #355
Done #358.

[2018-03-14 16:52] antofa opened #360 "Device information in one line"
Hi, buddies. If is there method for getting device information by one call or any other solution for this?

Something like this:
Android v25.0.2, Redmi Note 3, ru.
iOS v10, iPad 6,3, en.

Thanks.

[2018-03-14 17:40] machour commented on #360
Hi @antofa, there's no such method as its output would really depends on your requirements.
You can use getBrand(), getModel(), getSystemVersion() etc to achieve this.

[2018-03-14 17:40] #360 closed

[2018-03-16 08:10] percivalruiz-bibo commented on #181
Have you tried doing `react-native upgrade` before `react-native link`? That worked for me.

[2018-03-17 08:30] IljaDaderko commented on #352
@machour sorry for late response, I attempted it here
https://github.com/rebeccahughes/react-native-device-info/pull/361

Tested locally seems to be working fine, but same as you my knowledge of cocoapod space is limited, I'm not sure why it was needed as dependency in this projects podspec, but `React` pod was deprecated looooong ago and it is not recommended at all to use it.

[2018-03-17 10:24] machour commented on #303
Fixed in 0.21.1

[2018-03-17 10:24] machour commented on #63
Fixed in 0.21.1

[2018-03-17 10:24] #63 closed

[2018-03-19 09:52] tamhv commented on #353
[code]
I got js error `TypeError: undefined is not an object (evaluating 'RNDeviceInfo.deviceName')`

I notice there is a line `pod 'RNDeviceInfo', :path => '../node_modules/react-native-device-info'` in my Podfile after i ran `react-native link`

Do i need to `cd ios && pod install` ?

Actually i've tried to pod install
[code]
Then xcode can't build, error
[code]

[code]

[2018-03-20 05:15] whatvn commented on #353
got same problem, DeviceInfo.getFontScale() always return undefined

[2018-03-20 08:43] machour commented on #353
@whatvn if it returns undefined instead of erroring because "Device info" is undefined, it's not the same problem.
Please open a new issue for that.

[2018-03-20 08:46] machour commented on #353
@tamhv : you shouldn't be mixing "link" and pods.

If you use the pods, you must define your React pod dependency in your own Podfile.

If you're using link, check the manual linking section to see what went wrong in the automatic process.

I currently don't have any problem with link, so I really can't do a thing about this issue :/

[2018-03-20 09:08] tamhv commented on #353
@machour yeah i'm ok with `add *.xcodeproj *.a for ios and react-native link for android`, so because i was using pods for other packages then i can't use react-native link right?

After run react-native link, android works, i have to remove the line `pod 'RNDeviceInfo', :path => '../node_modules/react-native-device-info'` from my Podfile, then `add *.xcodeproj and *.a` for ios

[2018-03-20 21:49] ricardofavero opened #365 "Compatibility with react-native-firebase"
| Version     |  0.21.1  |
| Affected OS | Android |
| OS Version  | 7.0 |

Hi,
I'm trying to use this library and react-native-firebase in my project.
But when I try to compile, I get this error

[code]

If I uninstall any of the 2, then the other one works.

Does anyone know how to fix it?

[2018-03-20 21:51] machour commented on #365
Hey, did you check the troubleshooting section in the Readme?

On Mar 20, 2018 22:49, "Ricardo Favero" <notifications@github.com> wrote:

| Version | 0.21.1 |
| Affected OS | Android |
| OS Version | 7.0 |

Hi,
I'm trying to use this library and react-native-firebase in my project.
But when I try to compile, I get this error

* What went wrong:
Execution failed for task
':react-native-device-info:

[2018-03-20 22:55] rgoldiez commented on #365
I'm running into the same issue.  I followed the troubleshooting to no avail.  I'm also use react-native-firebase

[code]

[2018-03-20 23:00] CodyBrouwers commented on #365
Seeing the same issue, but am **not** using react-native-firebase. Tried adding the following to no avail:

[code]

[2018-03-20 23:35] jurajkrivda commented on #365
Add googlePlayServicesVersion = "xx.xxx" to your project gradle. For example:

[code]

[2018-03-21 00:21] CodyBrouwers commented on #365
@jurajkrivda Thanks so much for pointing me in the right direction, all I ended up needing to add was this line to my `android/gradle.properties` file:

[code]

I also didn't end up needing to exclude the `com.google.android.gms` group.

[2018-03-21 00:30] bdlee-1 commented on #365
@CodyBrouwers This didn't seem to work for me...am i missing something?

I made the following changes:
1. `googlePlayServicesVersion=11.6.0` in `android/gradle.properties` file
2. `def googlePlayServicesVersion = project.googlePlayServicesVersion` to my `dependencies` object in `android/app/build.gradle` file

[2018-03-21 00:41] jurajkrivda commented on #365
@bdlee-1 maybe bad googlePlayServicesVersion?

[2018-03-21 00:52] CodyBrouwers commented on #365
@bdlee-1 Hmm not sure, try running `cd android && ./gradlew clean` to cleanup the previous build, then try building again.

Also I tried again with version 11.6.0 of googlePlayServicesVersion and it downloaded and installed that version, so maybe disregard what I put above about finding the correct version.

[2018-03-21 01:36] bdlee-1 commented on #365
@CodyBrouwers @jurajkrivda

I was also using `react-native-google-signin` seem to be what was causing it to install v12.0.0

Seem to have got it working with 11.8.0 now

thanks for your help!

[2018-03-21 03:48] aligfl commented on #365
Thanks guys! Was pulling my hair out trying to figure this out :)

I have another package `react-native-push-notification` that has `compile 'com.google.android.gms:play-services-gcm:+'` and don't think there is a way to fix that. I think that dependency just needs to be updated.

[2018-03-21 03:52] freddiecabrera commented on #365
@aligfl How did you update the dependency I am having the same problem and I already tried the other solutions mentioned. Thanks.

[2018-03-21 04:00] aligfl commented on #365
@freddiecabrera I simply added `googlePlayServicesVersion=11.8.0` to `gradle.properties` and that did the trick for me.

Mind you, I had to remove other packages that were causing a similar issue though, maybe you're seeing the same issue? mind pasting the error?

[2018-03-21 04:05] bdlee-1 commented on #365
@freddiecabrera I had to update the build.gradle file for some of the libraries in the node_modules folder

change this line `compile 'com.google.android.gms:play-services-gcm:+'` to be `compile 'com.google.android.gms:play-services-gcm:11.8.0'`

[2018-03-21 04:06] aligfl commented on #365
@bdlee-1 ditto for me. Had to update `react-native-push-notification`'s gradle file as well.

[2018-03-21 07:08] jmsv23 commented on #365
I fix the error  changing `compile 'com.google.android.gms:play-services-auth:+'` to `compile 'com.google.android.gms:play-services-auth:11.6.0'` on node_modules/react-native-google-signin/build.gradle

[2018-03-21 07:27] GaudamThiyagarajan opened #366 "Unable to build - more than one library with package name 'com.google.android.gms.license'"
## Current behavior
react-native run-android

:react-native-device-info:processReleaseManifest
:react-native-device-info:processReleaseResources FAILED

FAILURE: Build failed with an exception.

* What went wrong:
Execution failed for task ':react-native-device-info:processReleaseResources'.

BUILD FAILED

Total time: 42.342 secs

## Expected behavior

It was working fine the previous day. no chan

[2018-03-21 07:38] yangtaufoo commented on #366
Please refer to #365

[2018-03-21 07:39] GaudamThiyagarajan commented on #366
allprojects {
    repositories {
        configurations.all {
            resolutionStrategy {
                force "com.google.android.gms:play-services-gcm:11.8.0"
            }
        }
        ....
   }
}

adding this to my build.gradle file fixed the issue.

[2018-03-21 08:27] machour commented on #366
Hi @GaudamThiyagarajan,

Instead of the resolutionStrategy thing, could you try defining the following variable in your `android/build.gradle` file:

 ext {
    googlePlayServicesVersion = "11.8.0"
}

that would tell react-native-device-info to use that version for com.google.android.gms.

Let me know if that fixes the issue for you so that I can make this clearer in the README (it's actually hidd

[2018-03-21 08:31] dverma4u commented on #366
@machour after adding your suggested variable new build error came
* What went wrong:
Execution failed for task ':react-native-google-signin:processReleaseResources'.

[2018-03-21 08:33] machour commented on #365
Hey folks, this is actually documented but hidden under Linking > Manual > Android:

<img width="916" alt="screen shot 2018-03-21 at 9 31 19 am" src="https://user-images.githubusercontent.com/304450/37700145-a6c88ce4-2cea-11e8-88ce-bbfd81be49cc.png">

@jurajkrivda @CodyBrouwers could you guys have a look and tell me if the documentation is clear enough, or if there's something to change? I'll link

[2018-03-21 08:35] machour commented on #366
@dverma4u that line tells react-native-device-info which version to use. Is there another or others packages specifying different versions of com.google.android.gms ?

[2018-03-21 08:56] dverma4u commented on #366
@machour yes react-native-onesignal also uses google services.

[2018-03-21 09:03] ikhsanalatsary commented on #366
@machour I got this error after added your solution
[code]

[2018-03-21 09:21] ikhsanalatsary commented on #366
I've got the solution [here](https://github.com/evollu/react-native-fcm/issues/857)

[2018-03-21 10:34] Compulsor commented on #365
@aligfl I'm also using `the react-native-push-notification` dependency, and changed its build.gradle file. When someone else now tries to run the repo, the error will still persist due to a new npm install of the dependency.

[2018-03-21 10:43] manuTro commented on #365
I solved them by changing into node-modules/react-native-device-info/android/build.gradle

compile 'com.google.android.gms:play-services-gcm:11.8.0'

But now I have a more generic

How to solve this??

Thx

[2018-03-21 10:59] HyuArzani commented on #365
i think we need to update the google service version, previously i use 11.8.0 and cannot build, then i update my gms to 12.0.0 it solved,
if you using firebase or other module that need gms just update the version to 12.0.0

[2018-03-21 11:33] vliedel commented on #366
Hey @GaudamThiyagarajan it does make the version change to 11.8.0 (checked with `./gradlew -q app:dependencies`, but i still get the same error. Any idea?

[2018-03-21 12:08] Compulsor commented on #365
IF you're working with the `react-native-push-notification` dependency, feel free to use [THIS](https://github.com/Compulsor/react-native-push-notification/blob/master/android/build.gradle) forked project of it. Contains the changes mentioned in [this issue](https://github.com/zo0r/react-native-push-notification/issues/682).

[2018-03-21 12:23] superandrew213 commented on #365
This fixes it https://github.com/rebeccahughes/react-native-device-info/issues/365#issuecomment-374864471 for `react-native-device-info`.

Set your`com.google.android.gms:play-services-gcm` version like this in `android/build.gradle`:
[code]

For `react-native-push-notification` [PR](https://github.com/zo0r/react-native-push-notification/pull/684) is open and will be merged soon.

[2018-03-21 12:24] dolo098 commented on #365
Hi, I am still having the same issue even though I have tried all the suggested fixes. Is anybody still getting this issue or have any other methods?

* What went wrong:
Execution failed for task ':urbanairship-react-native:processReleaseResources'.

[2018-03-21 13:01] jstheoriginal commented on #366
Indeed this is what solved it for me.

https://github.com/facebook/react-native/issues/18479#issuecomment-374849967

[2018-03-21 13:52] Vijay-clustrex commented on #365
@dolo098  Is this issue solved?

[2018-03-21 16:36] digitaldangal commented on #365
cd android && ./gradlew app:dependencies --configuration compile

jot down this command it will tell you what version of Google play is used in all imported libraries. Open project in studio and  in all third party libraries replace
compile 'com.google.firebase:firebase-messaging:+' with specific version like this.
compile 'com.google.firebase:firebase-messaging:11.8.0'
you may be using other libr

[2018-03-21 19:24] jnrepo commented on #365
I follwed this post https://github.com/facebook/react-native/issues/18479#issuecomment-374849967

and it worked well for me, hope it helps someone else!

[2018-03-21 19:30] aligfl commented on #365
@jnrepo excellent! that fixes the issue with `react-native-push-notification`. Great find! Thanks!

[2018-03-21 20:54] ricardofavero commented on #365
Thank you all, guys.
@CodyBrouwers's solution solved the problem for me.

googlePlayServicesVersion=11.0.4

[2018-03-21 21:35] tiofabby commented on #365
I moved to PLayServices 12.0.0 (android/app/build.gradle) and I started having such issue

By downgrading back to 11.8.0 and doing the 2 things mentioned previoulsy:
add 'def googlePlayServicesVersion = project.googlePlayServicesVersion' to android/app/build.gradle
and add 'googlePlayServicesVersion=11.8.0' into gradle.properties
it worked fine.

I hope someone can help in getting this fixed soon

[2018-03-22 04:19] adrianolsk commented on #365
The only thing that worked here is setting the settings below in `android/build.gradle` (the project level file) forcing in the app level build.gradle didnt work

In my case was the `vision` module, but it will work for others as well.
The thing is that when a project use `module :+` as the version it will always get the latest version available, and google just released the version 12.0.0 so I go

[2018-03-22 08:26] nhancv commented on #366
My approach is can all android project and update version of google play services directly to each module build.gradle
Detail here: https://medium.com/p/2fd245027832
Hope it can help you.

[2018-03-22 08:37] otusweb commented on #366
@machour your fix fixed it for me.
In the instructions it is marked as optional and there is not explanation as to why one might want to do this. It would be great to explain this.

[2018-03-22 09:00] machour commented on #366
Let's move this to #365

[2018-03-22 09:00] #366 closed

[2018-03-22 09:03] machour commented on #365
#366 was the same issue I think, worded differently.

Since I didn't experience this issue personally, I would really love if anyone could propose a PR to amend the README.md file to explain the problem, what causes it and how to get rid of it.

Any takers? 🙏

[2018-03-22 23:10] cobarx commented on #365
@CodyBrouwers fix worked for me as well. It wasn't working at first because support for that was only added in a recent package version, so I had to update to the latest release.

[2018-03-23 08:05] Ken-Lim opened #369 "Google Pixel C returned isTablet = false"
## Google Pixel C returned isTablet = false

|             |     |
| ----------- | --- |
| Version     |  0.21.2  |
| Affected OS | Android  |
| OS Version  | 8.0.0   |

## Current behavior
IsTablet is returning false for Google Pixel C (emulator), don't have actual device to test out.
## Expected behavior
IsTablet should return true.

[2018-03-23 08:09] wangfaguo opened #370 "how to get IDFA?"
## Summary

|             |     |
| ----------- | --- |
| Version     | ?   |
| Affected OS | ?   |
| OS Version  | ?   |

## Current behavior

## Expected behavior

[2018-03-23 08:16] machour commented on #370
What's IDFA?

[2018-03-23 08:18] wangfaguo commented on #370
[code]

https://github.com/rebeccahughes/react-native-device-info/pull/145

[2018-03-23 08:19] machour commented on #370
Not supported. Check https://github.com/ptomasroos/react-native-idfa

[2018-03-23 08:19] #370 closed

[2018-03-24 09:10] machour commented on #369
Hi @Ken-Lim and thank you for reporting this. How would you define a tablet?

The problem is: there's actually no accurate way on Android to guess if a device is a Phone or a Tablet. See also https://github.com/rebeccahughes/react-native-device-info/issues/198#issuecomment-362791408

The only accurate way I can think of if to manually handle a list of tablets, but that would be unrealistic regardi

[2018-03-24 13:07] kasl opened #371 "Native module not linked: undefined is not an object"
## Summary

|       isSimulator     |  true    |
| ----------- | --- |
| Version     | ^0.21.2  |
| Affected OS |  android   |
| OS Version  | android 6.0 |
| Device  | nexus 5x   |

Same on my device

|       isSimulator     |  false    |
| ----------- | --- |
| Version     | ^0.21.2  |
| Affected OS |  android   |
| OS Version  | android 8.0   |
| Device  | samsung galaxy s8   |

My dependencies

[2018-03-24 13:13] kasl opened #372 "Import instructions in .d.ts file seems off"
About usage this library:
Readme [here](https://github.com/rebeccahughes/react-native-device-info#usage) said that I should import the following way: `import DeviceInfo from 'react-native-device-info'`, but this not worked and i found in `deviceinfo.d.ts`  [the following comment](https://github.com/rebeccahughes/react-native-device-info/blob/master/deviceinfo.d.ts#L2)
[code]

[2018-03-24 13:20] machour commented on #372
@kasl README is correct, the .d.ts should be fixed.
Wanna do your first PR here?

[2018-03-24 13:58] kasl commented on #371
same :(

[2018-03-24 14:02] machour commented on #371
Is your project available online? If not, commit everything before adding this library, link it, and provide me a diff of your `android/` folder after the operation

[2018-03-24 14:17] kasl commented on #371
my repo is private. Diff after installation:

[screenshot from 2018-03-24 21-15-42](https://user-images.githubusercontent.com/3302886/37864981-94f5f4b4-2fa8-11e8-8730-65a32eb51ba9.png)
[screenshot from 2018-03-24 21-15-52](https://user-images.githubusercontent.com/3302886/37864982-951ab9a2-2fa8-11e8-91ff-903da920a802.png)
[screenshot from 2018-03-24 21-15-56](https://user-images.githubusercontent.

[2018-03-24 14:19] machour commented on #371
I meant a `git diff` buddy :)

[2018-03-24 14:21] kasl commented on #371
[code]

[2018-03-24 14:32] machour commented on #371
I see nothing wrong with this diff..

Can you provide the output of `react-native start-android`, and the JS code you're using to include RNDeviceInfo and call getBrand() ?

You can also try:
 * rm -rf node_modules
 * yarn
 * watchman watch-del-all
 * react-native start --reset-cache

[2018-03-24 14:57] kasl commented on #371
[code]

And my code with little simplifications
[code]

[2018-03-24 22:02] nicolegrinstead opened #373 "Add check for disk encryption"
## Description

Add a check to determine whether or not the disk is encrypted.
(On iOS having screen lock enabled automatically enables disc encryption, but on android pin / fingerprint is a different setting from disc encryption.)
It looks like on android DevicePolicyManager getStorageEncryptionStatus() will return the encryption status. (https://developer.android.com/reference/android/app/admin/

[2018-03-25 03:19] kasl commented on #372
unfortunately I'm new to type script. Last i see this PR https://github.com/rebeccahughes/react-native-device-info/pull/221 where fixed ts definitions and [here](https://github.com/rebeccahughes/react-native-device-info/issues/208#issuecomment-365624420) you says that all right. Why now d.ts incorrect?

[2018-03-25 12:31] kasl commented on #371
After a long, thorny process, debugging  i am figured out. I used https://github.com/wix/react-native-navigation/ and overwritten `MainApplication.java` and there accidentally duplicated  `protected List <ReactPackage> getPackages ()` method and after run `react-native link react-native-device-info` was written in the wrong function (it was not actually called). In any case, thanks @machour for th

[2018-03-25 12:31] #371 closed

[2018-03-25 13:35] machour commented on #371
Happy you found the bug, cheers!

[2018-03-25 13:56] rhdeck commented on #353
Problem is that react-native link is more persnickety about where the IOS code should be. To fix, move to the /ios subdirectory of module. implementation at rhdeck/react-native-device-info, and submitted PR #374

[2018-03-25 20:13] welkensoyo commented on #299
You can easily resolve incompatibilities now by adding
`cordova.system.library.7=com.android.support:appcompat-v7:27.1.0`
to your project.properties

[2018-03-26 03:04] whatvn commented on #353
@machour if Device Info is undefined, app should be crash. How can you call DeviceInfo.getFontScale() and it return `undefined` when DeviceInfo is undefined? It's the same problem. I believe @rhdeck 's solution work

[2018-03-26 09:44] machour commented on #353
@whatvn Reading your first comment, I understand that `DeviceInfo` is not undefined in your case, but `DeviceInfo.getFontScale()` returns undefined. Which is an issue. But a different one.

This is why I encouraged you to open a new issue, distinct from this one.

Now if I didn't understand your comment, which is totally possible, just re-explain things to me :)

[2018-03-26 10:57] machour commented on #353
@rhdeck thanks for the PR man, just shipped it in 0.21.3

@rohitgoyal @dougjedwards @SandroMachado @schumannd : could you give this new release a try?

[2018-03-26 11:00] machour commented on #372
@kasl I really didn't notice the import change in #221. To be honest, I was just trying to close some old issues as I took over this project maintenance :D

Definitely worth investigating, thank you for spotting this.

[2018-03-26 15:27] sdovenor commented on #353
@machour this seems to be a breaking change for anyone that is currently using
[code]
in their Podfile without having to manually update their Podfile to /ios or re-link, see #376

[2018-03-26 15:40] machour commented on #353
Thank you so much for spotting that @sdovenor, 0.21.4 is out with your fix!

[2018-03-26 16:09] harrydema commented on #365
This did the trick for me with react-native-device-info:

[code]

And as i was using react-native-google-sign-in i had to set it like this:

[code]

[2018-03-27 09:19] tkhwang commented on #353
I'm a total newbie, but I got the same error above even with the new patched version  `0.21.4`.

[code]

* version:

[code]

* Command

[code]

But I could delete `libRNDeviceInfo-tvOS.a` for the build success.

[code]

[2018-03-27 09:21] machour commented on #353
@tkhwang this is not what this PR was trying to solve, so it's normal ;)

[2018-03-27 09:28] tkhwang commented on #353
@machour 👍 I got it. Thanks a lot.

[2018-03-27 13:47] gitsad opened #377 "'RCTBridgeModule.h' file not found"
After simple linking.

This error drives me crazy.
Versions:
React Native 0.52
react-native-device-info: 0.21.4

[2018-03-27 13:57] machour commented on #377
Hi @gitsad, we recently removed the React pod dependency.
Could you try with 0.21.0 ?

[2018-03-27 14:02] gitsad commented on #377
ok, I will try

[2018-03-27 15:00] gitsad commented on #377
on 0.20.0 pods fetching React 0.11 which causing conflicts and built end with fail

[2018-03-27 15:02] gitsad commented on #377
I would like to have only device id for firebase integration. Why simple things are always so hard 😞.

[2018-03-28 07:25] gitsad commented on #377
Ok I have managed that and it seems it works. I incorrectly linked lib **(Via CocoaPods doesn't work, it causing React conflicts)**. Sorry for the wrong first response on your solution but I'm just a little bit puzzled when after ejecting with expo the integration with fcm went to hell and I have to revert all my changes to make the project without expo, only plain react native and from that momen

[2018-03-28 07:54] machour commented on #377
No worries, we've all been there. If your project is public, I can try to have a look at the mess.

So is the latest version of react-native-device-info working for you?

[2018-03-28 07:55] machour commented on #373
Hi @nicolegrinstead and thank you for logging this.
Do you want to work on a PR for this new feature?

[2018-03-28 08:14] gitsad commented on #377
the latest, unfortunately, no, but **0.20.0** yes. Thanks for help! 🥂

[2018-03-28 08:16] machour commented on #377
Alright, I guess I'll be rolling back the pod change then. ☕ (9am here :D)

[2018-03-28 08:17] gitsad commented on #377
In addition, On Android works fine with automatic linking without any error on 0.20.0 in my case at least 👍

[2018-03-28 18:16] nicolegrinstead commented on #373
Hey @machour, yes I'm happy to work on a PR for this feature, but I may be a while before I have the time to submit one.

[2018-03-28 18:18] sfratini commented on #236
Can we re open this issue? I am having the exact same problem. All the modules are undefined and I have no idea why. I have tried many things, including manual link and forcing GCM version.

[2018-03-28 19:28] machour commented on #236
Reopened, please share more details about what you've tried

[2018-03-28 19:31] sfratini commented on #236
@machour This was my bad actually. I tried Android Studio and it worked and I could not understand why RN assembleDebug was not. I forgot that I fixed another issue by changing the build directory and I had an automatic script installing the APK and it was using the old directory, so I was reinstalling the old APK without the library.

Everything working right now by installing the correct APK. Yo

[2018-03-28 20:04] c-brooks opened #378 "Linker fails with ld: library not found for -lRNDeviceInfo"
## Summary

|             |     |
| ----------- | --- |
| Version     | 0.21.4   |
| Affected OS | MacOS Sierra  |
| OS Version  | 10.12.6   |

## Current behavior

when building the project for release:
[code]
The linker fails with:
[code]

## Expected behavior
It should build without errors. Downgrading the package to 0.21.1 fixes the problem.

[2018-03-28 21:15] machour commented on #236
No worries mate, glad you find out the problem

[2018-03-28 21:16] #236 closed

[2018-03-29 06:11] manju-ms opened #379 "Error: more than one library with package name 'com.google.android.gms.license'"
## Summary

|             |     |
| ----------- | --- |
| Version     | 0.17.3   |
| Affected OS | Android  |

## Current behavior

When compiling My react-native project i am getting the above error.

In my app/build.gradle file have excluded the Play servies version as shown below.

compile (project(':react-native-device-info')) {
       exclude(group: 'com.google.android.gms', module: 'play-ser

[2018-03-29 07:43] realtebo commented on #378
@gongmingqm10 thanks, now I'll try and report here the result.

But... what's the cause? Did i something wrong?

[2018-03-29 07:47] machour commented on #378
This is due to the change made in #374. Sorry for the inconvenience folks, I'll add a new entry in the troubleshooting section.

[2018-03-29 07:48] machour commented on #379
Duplicate of #366

[2018-03-29 07:48] #379 closed

[2018-03-29 07:51] machour commented on #373
Great!

[2018-03-29 08:10] realtebo commented on #378
I removed RNDeviceInfo.xcodeproj from 'library' folder on the left panel. I selectioned, then Edit -> delete.

Also, in Targets -> Build Phaese -> Linke Binary With Libraries I removed the row `libRnDeviceInfo.a`

But how to readd it? Sorry but I never used xcode :(
There is not edit  -> add

[2018-03-29 08:43] machour commented on #378
In XCode, in the project navigator:

Right click Libraries
Add Files to [your project's name]
Go to node_modules/react-native-device-info
Add the .xcodeproj file

[2018-03-29 09:38] realtebo commented on #378
my xcode doesn't allow me to selected the .xcodeproj file, but only the upper ios folder...

![image](https://user-images.githubusercontent.com/1268699/38081956-9de120e4-3345-11e8-8dd1-a6d188875c08.png)

[2018-03-29 11:44] benevbright commented on #353
I'm sorry.
But I don't understand why this module needs Pod and linking command adds that line on `Podfile` since it can work without Pod?

[2018-03-29 11:50] machour commented on #353
@benevbright I'm not sure I understand your question. You can either use "react-native link" OR the pods way.

[2018-03-29 14:49] realtebo commented on #378
Sorry for posting again, but I downgraded to 0.21.1 but I got

TypeError: Cannot read property 'uniqueId' of undefined

I tried with console.log to understand and I ended with dumping DeviceInfo.getUniqueID();

ƒ getUniqueID() {
      return RNDeviceInfo.uniqueId;
    }

The error is that RNDeviceInfo is null !

What am I doing wrong?

[code]

[2018-03-29 15:22] machour commented on #378
@realtebo can you check if the lib is in Linked frameworks and libraries?
<img width="1263" alt="screen shot 2018-03-29 at 4 22 07 pm" src="https://user-images.githubusercontent.com/304450/38097475-695db076-336d-11e8-9190-c7da0f85fcca.png">

[2018-03-30 10:54] smithaitufe commented on #139
I experience this in Android.

[2018-03-30 10:55] machour commented on #139
Thanks for the feedback @smithaitufe !
Want to submit a PR for this?

[2018-03-30 12:28] smithaitufe commented on #139
@machour I will try to look into it to see how we can resolve it

[2018-03-31 05:07] eirabie commented on #377
Getting the same error

Versions:
React Native 0.54.4
react-native-device-info: 0.21.4

[2018-04-02 12:01] afilp commented on #236
I have the same problem in Android, none of the methods work. It says `Cannot read property "bundleId` of undefined` and I have linked properly.

[2018-04-02 12:21] machour commented on #236
@afilp could you open a new issue describing what you did?
From what I can see, linking have failed.

[2018-04-03 05:01] thatjuan commented on #260
Issue is still present in 0.21.4.

[2018-04-03 13:21] alexfoxy commented on #260
Issue still present 0.21.4

[2018-04-03 15:09] afilp commented on #236
@machour I have re-linked manually and it works. I am on Windows and the `compile` code is not inserted automatically, not sure why.

[2018-04-04 08:16] leventyildirim61 opened #380 "Crash Android"
Hello everyone.

I have a problem about these. When upgrade compileSdkVersion in android, app is crash. Crash looks like these.
![ekran resmi 2018-04-04 11 11 59](https://user-images.githubusercontent.com/3340969/38296276-940681aa-37f9-11e8-9a64-170a55403847.png)

[2018-04-04 13:52] Rudloff opened #381 "Building without Play Services?"
## Description

It seems that this library can't be built for Android without Play Services:
[code]

Would it be possible to have an option to build without the `play-services-gcm` dependency? (Even if it means that some functionnalities won't work.)

## Use Case

The Play Services dependency prevents any app using this library from being included in free software repositories like [F-Droid](https

[2018-04-04 14:09] manju-ms commented on #379
@machour, thank you for your response. The app is working fine. Can i know even though excluding the 'play-services-gcm' in build.gradle, why i am getting more than one library issue?. My concern is, if i force the app to use 11.8.0 version other plugins may required 12.0 version and this may lead to crash of app again. Correct if i am wrong.

[2018-04-05 08:25] machour commented on #380
Hi @leventyildirim61

FYI, The Bluetooth thing can be ignored, as the error is catched by the library.

[2018-04-05 09:44] Rudloff commented on #381
Unfortunately, I don't think I have enough experience with the Play Services to do this without breaking things for people that do use them 😕

[2018-04-05 13:31] Salakar commented on #365
All,

This isn't to do with our library (`react-native-firebase`) specifically - this is Google Play Services version 12 onwards - it requires Gradle wrapper v4+ and android build tools v3.1+ to avoid the license duplicate issue amongst other things.

Whilst forcing the versions to be lower than v12 works (as above) this isn't a long term solution and you'll eventually be unable to use some librar

[2018-04-07 11:58] mohammad-goldast opened #383 "TypeError: Cannot read property 'brand' of undefined"
Hey guys, when i installed `react-native-device-info` with default option, i imported the package and wrote `console.log(DeviceInfo.getBrand());` for test. but unfortunately got the same error like subject of this issue.

**What should i do ?**

**Thanks in advance**

## Summary

|Requirements|    |
| ----------- | --- |
| react-native-device-info Version     | 0.20  |
| OS | Android   |
| OS Vers

[2018-04-09 06:34] DungBuiDeveloper commented on #377
i still get same issues plz help me @gitsad

[2018-04-09 06:46] blackhair commented on #383
Is anybody there ?
I need help to use `react-native-device-info`.

[2018-04-09 07:48] Brad19 opened #384 "android app is crashing when app is launching"
## android app is crashing when app is launching

|             |     |
| ----------- | --- |
| react-native version     | 0.53.2   |
| Affected OS | Android |
| OS Version  | Nexus_5X_API_25 or Pixel XL - 8.0.0   |
| react-native-device-info| ^0.21.4 |

## Current behavior

Pls find below the steps i followed
1. npm install --save react-native-device-info
2. react-native link react-native-device-

[2018-04-09 09:32] DungBuiDeveloper commented on #377
lib is so hard for install , maybe author not try install...

[2018-04-09 09:46] machour commented on #377
@DungBuiDeveloper yes, the library was developed blindly, then maintained by people changing random letters in the source code without testing them.

[2018-04-09 09:47] machour commented on #377
@gitsad @DungBuiDeveloper just rolled back the pod change. Does 0.21.5 works better for you?

[2018-04-09 09:51] DungBuiDeveloper commented on #377
i think one LIB perfect for you only mix pods and link , and them work. any issues not good . i'm here fix bug 2 days and now i still can't run & build xcode workspace

[2018-04-09 09:53] machour commented on #383
Hi @blackhair, I don't see anything wrong with your linking even tho I never used NavigationApplication.
Did you reset the cache of your packager before re-starting it?

[2018-04-09 09:54] machour commented on #384
Hi @Brad19, could you provide some logs from the Android build?

[2018-04-09 09:56] machour commented on #377
that doesn't tell me if you tried 0.21.5.

[2018-04-09 09:58] DungBuiDeveloper commented on #377
yes sir i will try

[2018-04-09 10:06] #353 closed

[2018-04-09 10:08] DungBuiDeveloper commented on #377
https://gyazo.com/54034d1114c12c3c0244ca3ad3a06856
@machour :D i do'nt know this issue but now build sucess OMG

[2018-04-09 10:48] Brad19 commented on #384
before linking react-native-device-info (ie., just after install), it throws the message as undefined if i call any function say for eg., getSystemName(). But once i link  react-native-device-info, i did the following to launch the app again
1. close the bundler
2. rebuild the app

now this time, build is successful, but the app crashed saying that "XXX stopped working" and my bundler didn't throw

[2018-04-10 11:06] RomanISWG commented on #383
Same problem here on iOS with DeviceInfo.getModel()

[2018-04-11 15:04] micodel opened #385 "ID Methods Should be Named Consistently"
## Description

As a developer, I would find it beneficial for ID methods to be named consistently.

For example:
getBundleId() and getDeviceId() have a lowercase "d"

Whereas:
getInstanceID() and getUniqueID() have an uppercase "D"

I typically lean towards "Id", but thats completely up to you, just whatever pattern you choose please be consistent! :)

Thanks in Advance

[2018-04-12 09:58] machour commented on #385
Thank you for raising this issue. Should be addressed in v1.x (#307)

[2018-04-12 09:58] #385 closed

[2018-04-12 23:04] richchurcher commented on #303
@machour note that now the fix has been undone in 0.21.5, this problem is recurring so you may want to reopen the ticket.

[2018-04-13 16:11] 7kfpun opened #386 "Be able to check 32-bit or 64-bit"
## Description

Able to check 32-bit or 64-bit.

## Use Case

Some feature need at least 64-bit architecture, this would be very useful to check the system architecture.

[2018-04-13 18:26] chocnut commented on #310
yep I'm encountered this issue too on android sdk 26.

[2018-04-16 20:30] richchurcher commented on #383
I see this too, with RN 0.54.4 and the Wix navigation library (the v2 alpha). There does seem to be an incompatibility, and I was assuming it was different Google services versions or SDK versions until I started seeing iOS reports too.

[2018-04-17 14:45] dominicrico opened #387 "getBatteryLevel show me if device is charging"
## Description

I would like to see if the device is currently charging or not when I do getBatteryLevel(). The promise could return 2 for charging

## Use Case

I  build two apps at the moment, one is a "controller" the other is an "updater". The updater is paired with a controller. The controller shows a list of connected devices and if a device has low battery I show a notification. Would be ni

[2018-04-18 11:14] novemberborn opened #388 "Avoid mixing CommonJS and ESM"
## Summary

|             |     |
| ----------- | --- |
| Version     | v0.17 and newer   |
| Affected OS | N/A   |
| OS Version  | N/A   |

## Current behavior

As of #339 the `import` keyword is used to load `Platform` and `NativeModules` from `react-native`. However the file then uses `module.exports` to export the getters.

This trips up the `eslist-plugin-import` package, specifically the [`i

[2018-04-18 14:34] nova974 opened #389 "React/RCTDefines.h file not found"
## Summary

|             |     |
| ----------- | --- |
| Version     | 0.21.2   |
| Affected OS | iOs   |
| OS Version  | 10.13.4   |

## Current behavior

When i build in ios, I got the error that 'React/RCTDefines.h' file not found. Actually i don't know if it's a problem with my config or with the extension :(

## Expected behavior

It should compile ^^

[2018-04-18 14:46] nova974 commented on #389
ok downgrade to v0.20.0 makes it work... Don't know why... Well thanks...

[2018-04-18 14:46] #389 closed

[2018-04-19 02:29] leogeng opened #390 "Error:getDeviceCountry is not a function in jest"
## Summary

| ----------- | --- |
| Version     |
"jest": "21.2.1",
"babel-jest": "21.2.0",
"react": "^16.3.0-alpha.1",
    "react-native": "0.53.0",
    "react-native-device-info:"v0.17.3"
|
| Affected OS | ?   |
| OS Version  | macOS   |

## Current behavior

● Test suite failed to run

    TypeError: _reactNativeDeviceInfo2.default.getDeviceCountry is not a function

## Expected behavior

[2018-04-19 05:48] qq912276337 opened #391 "getApplicationName undefined"
why getApplicationName() is undefined use version 0.21.5 iOS

[2018-04-19 17:01] enricotelesca-ada commented on #391
I have a similar issue: getBundleId of undefined.
0.21.5 iOS
RN 0.54.2

[2018-04-19 17:38] jeremyfrancis commented on #146
Just had to react-native run-ios instead of trying to run from Xcode. That put everything together right I guess.

[2018-04-20 07:12] machour commented on #390
Hi @leogeng, you need to lock this library for jest

[2018-04-20 07:14] machour commented on #390
See last entry here: https://github.com/rebeccahughes/react-native-device-info/blob/290ad0163a97b5eab8d4011f4721956d229c993d/README.md#troubleshooting

[2018-04-20 07:14] #390 closed

[2018-04-20 07:14] machour commented on #391
Use the template to report a problem.

[2018-04-20 07:14] #391 closed

[2018-04-20 07:15] machour commented on #388
Hi @novemberborn

Thank you for spotting this! I'll gladly merge a PR that set things straight

[2018-04-20 11:33] dominicrico commented on #387
Hey, would also be ok or getBatteryLevel() could return an Object like:
[code]

[2018-04-20 12:29] dominicrico commented on #387
@machour I got a PR ready with the above mentioned object.

[2018-04-20 12:31] machour commented on #387
The problem is that this would cause a compatibility break for people currently using this method.
Also, it doesn't really make sense to getBatteryLevel to return anything else than the level.
Any problems changing your PR to do this in a new method?

[2018-04-23 07:35] dominicrico commented on #387
@machour nope, I can do this and provide a new method.

[2018-04-23 09:15] EmielM opened #394 "ios: startup incurs UIWebView creation costs"
When doing some simple profiling I noticed a complete UIWebView is created and torn down when launching an app with `react-native-device-info`. Apparently, someone thought [it was a good idea](https://github.com/rebeccahughes/react-native-device-info/blob/master/ios/RNDeviceInfo/RNDeviceInfo.m#L175) to use a complete UIWebView environment to determine a device's user agent.

For your reference: a

[2018-04-24 20:55] ericjames commented on #383
Seeing the same on iOS Simulator

[2018-04-25 10:40] sandropoluan opened #395 "Installing is stuck"
Installing is stuck here

λ npm i --save react-native-device-info
[          ........] | extract:fsevents: sill extract fsevents@1.2.2 extracted to C:\ReactProject\ArtherChat\node_modules\.staging\fsevents-46551938 (618ms)

[**Windows 10**]

[2018-04-25 22:31] danielfx90 commented on #60
I see that now Google provides support for the InstanceID on iOS as well:
https://developers.google.com/instance-id/guides/ios-implementation

The library could use that in the `getInstanceID()` method.

[2018-04-29 09:03] omnikitty commented on #378
Same problem here. Though I re-added the xcode project from node_modules and tried all the other suggestions, I couldn't get rid of the library not found error.
The only solution that worked was downgrading to 0.21.1. Hope a fix comes soon!

[2018-04-30 20:11] doublex commented on #383
+1

[2018-05-01 14:11] mikerodham commented on #383
+1

[2018-05-01 18:33] machour commented on #383
I've been pretty busy lately. I'll try to give this a look as soon as possible. And in the mean time, if anyone wants to fix this, PR are really welcome. (and waaaay more helpful than "+1")

[2018-05-01 18:58] doublex commented on #383
This issue is wrong. To fix this problem:
https://github.com/wix/react-native-navigation/issues/2599

[2018-05-01 21:05] mikerodham commented on #383
I solved this by react-native link react-native-device-info and rebuilding via xcode or / react-native run-ios should do the trick.

[2018-05-03 01:27] anwarhamr opened #396 "getBatteryLevel() always returns -1 using real iOS device"
## Summary

|             |     |
| ----------- | --- |
| Version     | 21.5   |
| Affected OS | iOS  |
| OS Version  |  11.3 |

when getBatteryLevel promise resolves the value is always -1.

[2018-05-04 12:05] sytolk commented on #325
[code]

[2018-05-06 19:19] Rudloff commented on #381
I don't know if it can help you but here is what we used to remove Play services when building an app that uses react-native-device-info 0.14.0:
[code]

[2018-05-07 08:25] kashifsulaiman commented on #326
@machour same issue with IOs only. I've tried at many Ipad emulators, isTablet is returning false, while working as expected on android

[2018-05-07 08:31] kashifsulaiman opened #397 "IsTablet false on every Ipad emulator"
## Description

I've checked that isTablet is false on every Ipad but seems working on Android correctly.

## Use Case

![image](https://user-images.githubusercontent.com/11738465/39692646-dbb41164-51fa-11e8-939c-fd75adf90b76.png)

[2018-05-07 10:32] mounlion opened #398 "com.android.build.gradle.tasks.factory.AndroidJavaCompile.setDependencyCacheDir(Ljava/io/File;)V"
[code]

[code]

[code]

[2018-05-07 10:58] akiradeveloper opened #399 "getUniqueID in iOS looks persistent"
In README it describes `getUniqueID` in iOS is IDFV and it's reset after uninstalled

but from the actual implementation I feel like it's not

[code]

because it saves the IDFV in the key chain and restore it the next time as https://api.playfab.com/docs/tutorials/landing-players/best-login advices as the best pratice.

Is the README wrong? In that case, let's fix it as it is just confusing.

[2018-05-07 12:38] sarathvad1811 opened #400 "getIPAddress is not working"
The function getIPAddress() is not working. It says "cannot find function RNDeviceInfo.getIpAddress"

All other functions related DeviceInfo working fine only this one doesn't work.
| Version     | 0.21.5 |
| Affected OS | iOS, Android  |
| OS Version  | ios9, Android 7  |

## Current behavior

Promise of the function DeviceInfo.getIPAddress() returns an error saying "cannot find function RNDevice

[2018-05-08 09:03] billxie1988 commented on #391
remove the libRNDeviceInfo-tvOS.a work for me

[2018-05-09 07:14] sdunster commented on #260
I assume this is racy - I could reproduce it a few mins ago but not anymore. Perhaps in a future version everything the module does should be done via promise/callback?

[2018-05-09 20:36] mounlion commented on #398
I forgot update build:gradle to
[code]

[2018-05-09 20:36] #398 closed

[2018-05-09 21:55] endel commented on #323
I'm having this error when using `react-native-web`:

[code]

Is it just me? 😅

[2018-05-12 16:08] Gentlee commented on #378
1) Xcode -> Libraries -> remove RNDeviceInfo.xcodeproj
2) react-native link react-native-device-info

[2018-05-13 21:26] amirmatin opened #402 "getDeviceName does not return device name on android"
## Summary

|             |     |
| ----------- | --- |
| Version     | react-native: 0.55.3 |
| Affected OS | Android  |
| OS Version  | API 26   |

## Current behavior

getDeviceName returns unknown in Android. I have added following to AndroidManifest.xml

    uses-permission android:name="android.permission.BLUETOOTH"
    uses-permission android:name="android.permission.BLUETOOTH_ADMIN"

## Ex

[2018-05-14 07:31] machour commented on #323
Hi @endel, could you please open a new issue with this problem? It's really hard to keep track of comments on closed issues. 🙏

[2018-05-14 15:03] jay1337 opened #403 "eslint-plugin-import error"
## Summary

|             |     |
| ----------- | --- |
| Version     | `react-native-device-info@0.21.5`   |
| Affected OS | NA   |
| OS Version  | NA   |

## Current behavior

`eslint-plugin-import@2.11.0` detects an error when importing the module
`import DeviceInfo from 'react-native-device-info';`

## Expected behavior

No error

## Why

I think that `eslint-plugin-import` finds an `import` s

[2018-05-14 15:28] machour commented on #403
Hi and thank you for logging this.
Could you share the actual error message?

[2018-05-14 16:35] jay1337 commented on #403
This rule is triggered : https://github.com/benmosher/eslint-plugin-import/blob/master/docs/rules/default.md

`No default export found in module. (import/default)`

[2018-05-15 12:57] niranjan-b-prajapati commented on #213
I am on RN 0.44 but still its giving me the same error while creating the release build. can some one help me with this issue.

[2018-05-15 14:37] manuTro commented on #213
now I got this error for the first time.. yesterday was ok.. I'm using react-native 0.44

[2018-05-15 15:37] peacechen commented on #323
@endel  How are you importing `react-native-device-info` ?  This library doesn't export `default`.

[2018-05-15 15:49] angeloocana commented on #213
@manuTro me too, until yesterday everything was OK.

react-native 0.44.3

[2018-05-15 15:53] manuTro commented on #213
@angeloocana for me isn't just this library.. but also other 5 libraries.. I don't know what happened..

[2018-05-15 15:57] angeloocana commented on #213
@manuTro  Yes all the libraries for me too!!!
I think is something that is downloaded on the fly in `react-native run-android`

=/

[2018-05-15 16:04] manuTro commented on #213
@angeloocana I'm gonna to open an issue on react-native page

[2018-05-15 16:42] guerjon commented on #213
Same happen here, i went to my home yesterday came back today at morning and get this error.

[2018-05-15 16:49] ashksmith commented on #213
Same happened here, no changes to node_modules and started to get errors.

[2018-05-15 17:02] guerjon commented on #213
Got this on android, React-native 0.44.3, no changes at the node_modules since yesterday.

[2018-05-15 17:41] niranjan-b-prajapati commented on #213
i added this to my build.gradle in app folder
compile ("com.facebook.react:react-native:0.44.0") { force = true }

still the same error while creating release build.

[2018-05-15 22:01] JustinKasad commented on #213
This fixed it for me:
https://github.com/facebook/react-native/issues/19272#issuecomment-389321642

[2018-05-15 22:59] davidpricedev opened #405 "NoClassDefFoundError on iid.Instance.getInstance()"
## Summary

After adding react-native-camera, I'm consistently seeing a fatal error on the getInstance call.

|             |     |
| ----------- | --- |
| Version     | 0.21.5  |
| Affected OS | Android   |
| OS Version  | 8.1  |
| RN Version | 0.53.3 |

## Current behavior

Runtime Error: java.lang.NoCalssDefFoundError: Failed resolution of: Lcom/google/android/gms/common/util/zzx;

StackTrace:

[2018-05-16 06:53] niranjan-b-prajapati commented on #213
@JustinKasad  tried the solution you mentioned but still its not working for me. Is anyone still facing the issue ?

[2018-05-16 07:08] sterswift commented on #52
@bencodezen Saved me, thank you very much!

[2018-05-16 08:47] manuTro commented on #213
https://github.com/facebook/react-native/issues/19272#issuecomment-389405958 fixed for me by using react-native 0.44.3

[2018-05-16 09:07] ashksmith commented on #213
Upgrading is not possible for me; My fix was to target my version in build.gradle

[2018-05-16 09:08] niranjan-b-prajapati commented on #213
@ashksmith exactly same here, not possible to upgrade as the app is going for production.

[2018-05-16 09:16] ashksmith commented on #213
@niranjan-b-prajapati  [This worked for me](https://github.com/facebook/react-native/issues/19259)

[2018-05-16 10:56] niranjan-b-prajapati commented on #213
@ashksmith  i tried both solutions mentioned in the link but both of them not working in my case. :-(

[2018-05-16 11:30] Hemanth1985 commented on #213
I have been facing the same issue since yesterday RN 0.44.0

[2018-05-16 12:34] kormang commented on #335
@ghsdh3409 's answer fixed it for me.

I had to put:
`androidTestImplementation 'org.mockito:mockito-android:2.7.22'` to `app/build.gradle`
or for previous versions of gradle:
`androidTestCompile 'org.mockito:mockito-android:2.7.22'`

These are imports:

[code]
And at the end, I have put @ghsdh3409 's code in `DetoxTest.java` from `androidTest` directory.

(For those lazy like me, so that you don'

[2018-05-16 12:36] nadirHomeFriend commented on #213
hello,
after applying the code below to my build.gradle , react-native-system-notification does not work when forcing react-native 0.46 . i have seen in build.gradle of system notification module and see that he is using 0.19.+ as react native version . so forcing the react native version is not working for modules which need lower versions .
please help
subprojects {
configurations.all {
resoluti

[2018-05-16 15:12] domoniquecarter35 commented on #400
I have also seen this issue.

[2018-05-16 17:41] davidpricedev commented on #405
I was able to fix this by setting `force = true` on all the android and google libraries in my gradle file.

example:
[code]

I used these values for the version numbers:
[code]

[2018-05-16 17:41] #405 closed

[2018-05-17 07:05] niranjan-b-prajapati commented on #213
@machour People are still facing issues, This issue can't be closed.

[2018-05-17 10:28] machour commented on #335
Many thanks to both of you!
@blumendorf, could you try the proposed solutions and update us here?

[2018-05-17 10:30] machour commented on #213
@niranjan-b-prajapati it's an 8 month old issue which was fixed, so this is why it was closed, way before your first comment here.

Feel free to open a new issue thoug :)

[2018-05-17 10:35] machour commented on #400
This is really weird. Can you try editing the native module to see what is going wrong?

[2018-05-17 10:35] machour commented on #395
@sandropoluan is this still happening for you?

[2018-05-17 10:36] machour commented on #402
Hi @amirmatin, for what react-native-device-info version? What device are you using for your tests?

[2018-05-17 10:37] niranjan-b-prajapati commented on #213
@machour ok

[2018-05-17 10:38] amirmatin commented on #402
it is sorted now. there was an error in auto linking

[2018-05-17 10:38] #402 closed

[2018-05-17 10:44] machour commented on #399
@akiradeveloper just to be clear:

The actual result you get is either the IFV or a random UUID.

What is read from Keychain / NSUserDefaults is one of the above values, that we cached when we first computed the uid. Both these stores are cleared when the app is uninstalled.

And if the user uninstall all apps from the same vendor, then the IFV value may change the next time it's read.

Are we on

[2018-05-17 10:48] machour commented on #397
Hi @kashifsulaiman, is your app setup as an iPhone-only app, an iPad-only app, or as a universal app?

[2018-05-17 10:49] machour commented on #396
Waiting for your input on #404

[2018-05-17 10:50] machour commented on #323
@peacechen could you possibly have a look at #403?

[2018-05-17 10:51] machour commented on #403
@peacechen could you possibly have a look at this?

[2018-05-17 13:31] peacechen commented on #403
Thanks @jay1337 for posting the error details.

Based on the eslint error, changing this line should fix it:
https://github.com/rebeccahughes/react-native-device-info/blob/master/deviceinfo.js#L12

From
[code]

To
[code]

@jay1337   Would you mind trying that locally?  Edit `node_modules/react-native-device-info/deviceinfo.js` and try building again.

[2018-05-21 10:15] nHiRanZ opened #407 "A method to access the UDID from iOS"
## Description

Currently the method `getUniqueID()` return the App's `UUID` which helpful in it's own right but a method to get the `UDID` is not available.

## Use Case

UDID (Unique Device Identifier) A sequence of 40 hexadecimal characters that uniquely identify an ios device. This value can be retrieved through iTunes, or found using UIDevice -uniqueIdentifier. Derived from hardware details l

[2018-05-21 10:28] #407 closed

[2018-05-22 19:48] jay1337 commented on #403
@peacechen you have to use `export default {`, it solves eslint issue.

[2018-05-23 10:43] jakeOliv commented on #243
Thanks buddy

[2018-05-23 14:59] gohabereg commented on #400
Getting the same issue on iOS.
Seems there is no exported `getIpAddress` method in RNDeviceInfo.m file.

https://github.com/rebeccahughes/react-native-device-info/blob/master/ios/RNDeviceInfo/RNDeviceInfo.m#L267

[2018-05-24 07:54] imran1992 opened #409 "Android : Manifest merger failed."
**Manifest merger failed : Attribute meta-data#android.support.VERSION@value value=(26.0.1) from [com.android.support:cardview-v7:25.3.1] AndroidManifest.xml:24:9-31
  is also present at [com.android.support:support-v4:26.1.0] AndroidManifest.xml:28:13-35 value=(26.1.0).
        Suggestion: add 'tools:replace="android:value"' to <meta-data> element at AndroidManifest.xml:26:9-28:38 to override.**

[2018-05-24 10:04] imran1992 commented on #409
I set googlePlayServicesVersion  equal to "11.8.0".
And then it fixed

[2018-05-24 10:05] imran1992 commented on #409
**I set googlePlayServicesVersion equal to "11.8.0".
And then it fixed**

[2018-05-24 10:05] #409 closed

[2018-05-25 04:14] haron68 commented on #398
Did you solve this issue? Because I am currently encountering exactly the same thing during my build process.

[2018-05-25 06:03] wangwcq commented on #63
pod 'React', path: '../node_modules/react-native'
pod 'yoga', path: '../node_modules/react-native/ReactCommon/yoga'

For the pod 'yoga', use lower case package name or pod couldn't find podspec file.

[2018-05-25 18:32] kfoxb opened #410 "getSystemName reports iPhone OS on iOS 9 and older devices"
## Summary

|             |     |
| ----------- | --- |
| Version     | 0.12.0+   |
| Affected OS | iOS   |
| OS Version  | <=9   |

## Current behavior

Calling getSystemName on an iOS 9 or older devices reports "iPhone OS". It would seem that according to this stack overflow answer, https://stackoverflow.com/a/41569148,  iOS 10 devices could also be affected, however, I have not personally exper

[2018-05-25 18:39] machour commented on #410
Hi and thank you for logging this one.

Provided that Platform.os already exist in React Native, I'd be more prone to leave the method as it is, and update the README.

Adding ', iPhone OS' after the 'iOS' bit in the example seems sufficient to me to highlight that.
We could also link to Platform.os for people who are looking for a solid way to identify the platform

What do you think about it? Do

[2018-05-28 01:23] pstanton opened #412 "TypeError: undefined is not an object"
## Summary

|   |   |
| ----------- | --- |
| Version     | 0.21.5   |
| Affected OS | Android   |
| OS Version  | 7.0   |

Environment:
  OS: Windows 10
  Node: 9.0.0
  Yarn: 1.6.0
  npm: 6.1.0
  Watchman: Not Found
  Xcode: N/A
  Android Studio: Version  3.0.0.0 AI-171.4408382

Packages: (wanted => installed)
  react: ^16.3.1 => 16.4.0
  react-native: ^0.55.4 => 0.55.4

## Current behavior

Usin

[2018-05-28 02:16] pstanton commented on #412
duplicate of #383

[2018-05-28 02:16] #412 closed

[2018-05-28 02:18] pstanton commented on #383
Getting the same issue.

Have checked and rechecked all linking has been done (automatically, and then manually x 10)

Have deleted all build dirs (android/build & android/app/build) have deleted node_modules and re-run `yarn`.

The issue persists. Now looking for other plugins.

[2018-05-28 07:55] pstanton commented on #383
^ FYI

Environment:
OS: Windows 10
Node: 9.0.0
Yarn: 1.6.0
npm: 6.1.0
Watchman: Not Found
Xcode: N/A
Android Studio: Version 3.0.0.0 AI-171.4408382

Packages: (wanted => installed)
react: ^16.3.1 => 16.4.0
react-native: ^0.55.4 => 0.55.4

[2018-05-28 08:50] showtan001 opened #413 "Android can't run"
## Summary

|             |     |
| ----------- | --- |
| Version     | 0.21.5  |
| Affected OS | Android   |
| OS Version  | 7.0   |

## Current behavior
`* What went wrong:
A problem occurred configuring project ':react-native-device-info'.

o:_debugPublishCopy'.

     Searched in the following locations:
         file:/D:/Android/sdk/extras/android/m2repository/com/android/support/su
pport-v4/2

[2018-05-28 08:55] JerryOSJ commented on #413
me too. help me! thanks.

[2018-05-28 08:55] xwartz commented on #413
+1

[2018-05-28 08:56] xPotion commented on #413
+1

[2018-05-28 08:57] catnuxer commented on #413
Same here here debug.

I try to update build tools, looking for good news here,

I have try add
`compile ("com.google.android.gms:play-services-basement:+") { force = true; }`

But still not working.

[2018-05-28 09:04] NunoFl commented on #413
+1

[2018-05-28 09:04] LeiStudio commented on #413
me too, help me!!

[2018-05-28 09:05] NunoFl commented on #413
+1 cake

[2018-05-28 09:05] Richi2293 commented on #413
I'm also finding this problem with other libraries, will it be a problem of https://jcenter.bintray.com?

[2018-05-28 09:10] igorsilva20 commented on #413
+1

[2018-05-28 09:13] timborden commented on #413
+1

[2018-05-28 09:20] Richi2293 commented on #413
this is the problem for me
![image](https://user-images.githubusercontent.com/5848941/40607500-fb264912-6268-11e8-932a-488224b03e59.png)

and in fact if you go on this link returns 404 resource not found
https://jcenter.bintray.com/android/arch/lifecycle/runtime/1.0.0/runtime-1.0.0.jar

this is why I thought that the problem is with jcenter

[2018-05-28 09:26] timborden commented on #413
There a slight difference in the URLs:
- https://jcenter.bintray.com/com/android/support/support-v4/26.1.0/support-v4-26.1.0.aar
- https://jcenter.bintray.com/com/android/support/support-v4/26.1.0/:support-v4-26.1.0.aar

[2018-05-28 09:29] clarkkentzh commented on #413
me too

[2018-05-28 09:36] NemanjaManot commented on #413
+1

[2018-05-28 09:37] howg0924 commented on #413
Same here

[2018-05-28 09:40] rahmanmarija commented on #413
also

[2018-05-28 09:48] xSmoggeRx commented on #413
What should we have to do, wait or?

[2018-05-28 09:54] LPaeMoeye commented on #413
@ Richi2293 same problem

[2018-05-28 09:55] machour commented on #413
There's obviously something wrong *today* with bintray.com.
Please refrain from posting "me too" "me too". That doesn't help at all. Use reactions on the first comment.

[2018-05-28 09:56] vdumontier commented on #413
Same problem here.

[2018-05-28 09:58] roronoa89 commented on #413
+1

[2018-05-28 09:58] kayalukenvolatile commented on #413
Me too.

[2018-05-28 10:16] vitrum opened #414 "About Could not find support-v4.aar (com.android.support:support-v4:26.1.0)"
Try this:

https://stackoverflow.com/questions/45103230/failed-to-resolve-com-android-supportcardview-v726-0-0-android

1, In project build.gradle, add

       maven {
            url "https://maven.google.com"
        }

in allprojects

Will look like:

allprojects {
    repositories {
        jcenter()
        maven {
            url "https://maven.google.com"
        }
    }
}

2. clean gradlew

[2018-05-28 10:19] machour commented on #413
See #414

[2018-05-28 10:21] rahmanmarija commented on #414
It's not working, it outputs different error
**problem occurred configuring project ':react-native-device-info'.

        Searched in the following locations:
            https://jcenter.bintray.com/android/arch/core/common/1.0.0/common-1.0.0.jar**

[2018-05-28 10:27] vitrum commented on #414
Try add "google()" in repositories.

This is my build.gradle now:

    allprojects {
        repositories {

            mavenLocal()
            google()
            jcenter()
            maven {
                url 'https://maven.google.com'
            }
            maven {
                // All of React Native (JS, Obj-C sources, Android binaries) is installed from npm
                url "$r

[2018-05-28 10:27] cihadturhan commented on #414
Seems like my day is wasted with this error and still couldn't understand what the issue is.
When I check the link on browser it downloads the jar file.

[2018-05-28 10:30] a396901990 commented on #414
not work for me

[2018-05-28 10:30] windydang26 commented on #414
with me:
A problem occurred configuring project ':app'.

[2018-05-28 10:31] vigneshw1995 commented on #414
+1

[2018-05-28 10:31] XHTeng commented on #414
+1

[2018-05-28 10:46] xSmoggeRx commented on #414
I tried put google() before jcenter() and also use url 'https://maven.google.com' instead the previous url I had and nothing works for me. I hope this should be fixed.

[2018-05-28 10:49] vdumontier commented on #414
Ok worked for me, thanks @cihadturhan

Just set

`        maven {
            url 'https://maven.google.com'
        }`

**Before**  the    jcenter() and everything is OK.

`
allprojects {
    repositories {
        mavenLocal()
        maven {
            url 'https://maven.google.com'
        }
        jcenter()
        maven {
            url "$rootDir/../node_modules/react-native/android"

[2018-05-28 10:49] Geoffrey-D commented on #414
thanks @cihadturhan, it also worked for me

[2018-05-28 11:00] haiifeng opened #415 "Could not find runtime.jar (android.arch.lifecycle:runtime:1.0.0)"
## Summary
| Version |
    "native-echarts": "^0.4.0",
    "react": "~15.4.0-rc.4",
    "react-native-device-info": "^0.21.5"
| OS Version |
    compileSdkVersion 25
    buildToolsVersion "25.0.2"

## Current behavior
![deviceinfo](https://user-images.githubusercontent.com/20502943/40611551-564d7438-62a9-11e8-83e9-c73e4632004f.png)
today i build android and find that problem, and i can't solve it.

[2018-05-28 11:08] xSmoggeRx commented on #414
A lot of thanks @vdumontier, you explained how it should be, the problem is that I was replacing instead of adding the new maven. I'm who ask it for StackOverFlow. Thanks again and hope it doesn't happen again! 💃

[2018-05-28 11:43] xwartz commented on #414
@cihadturhan
It worked for me, thanks very much.

[2018-05-28 11:51] machour commented on #415
Dupe of #414.

[2018-05-28 11:51] #415 closed

[2018-05-28 12:06] Richi2293 commented on #414
Doing that way to me brings this error back:

[code]

[2018-05-28 12:16] zedtux commented on #414
@vdumontier solution, based on @cihadturhan's comment, works fine for me 👍

[2018-05-28 14:10] xSmoggeRx commented on #414
@Richi2293  try to clean cache and reinstall npm

[2018-05-28 14:34] Pollizzio commented on #414
I fixed adding in my grade.properties:
googlePlayServicesVersion=10.0.1

[2018-05-28 15:01] Richi2293 commented on #414
yes now no longer returns errors but the onesignal library stopped working, maybe it can stop working some functionality. Better control

[2018-05-29 01:47] MinMinions commented on #383
I got the same issue on iOS.
And now I have solved it.

Environment:
react-native: 0.51.0
react-native-device-info: 0.21.5
device: iPhone 6 (on a real machine not a simulator)
Xcode: 9.3.1

I auto-link react-native-device-info, and it shows success. However, actually it isn't successful. So Use the manual way, then it work.

[details and screenshot](https://www.jianshu.com/p/8faa61e0043c)

[2018-05-29 02:14] orzhtml commented on #414
Modify the file: android/build.gradle
`
buildscript {
    repositories {
        jcenter()
    }
    dependencies {
        classpath 'com.android.tools.build:gradle:2.3.2'

//        classpath 'com.android.tools.build:gradle:3.0.0' // <- USE 2.2.+ version

        // NOTE: Do not place your application dependencies here; they belong
        // in the individual module build.gradle files
    }
}

[2018-05-29 02:52] pstanton commented on #383
Like the original poster, I am using android and linking has been done correctly. Also, NOT using expo.

I suggest for all future commenters:

1. Please do not post that you have fixed it by linking correctly. The problem is that it isn't fixed (for the rest of us) by linking correctly. Congratulations you are luckily not affected by this issue.

2. Please do not post that you have fixed it in iOS

[2018-05-29 02:59] booker0108 commented on #414
I wonder why this plugin need google play service

[2018-05-29 20:51] ryekerjh commented on #378
I have tried all above suggestions and hve been unsuccessful in getting the error to go away. I installed v0.21.1, I tried to remove that file in xCode, but since the xCode update I cant find that file, tried running `react-native link react-native-device-info` after unlinking, tried clearing the cache and uninstalling and reinstalling npm packages. I am running `"react": "^16.3.1"` and `"react-na

[2018-05-29 22:36] kashifsulaiman commented on #397
@machour yes, it was IPhone-only, when I switch to iPad-only, it worked. Closing

[2018-05-29 22:36] #397 closed

[2018-05-30 18:03] rcorrie opened #416 "`phoneNumber` should not be a constant"
## Summary
If `READ_PHONE_STATE` permission is granted at runtime, the `phoneNumber` constant never get's updated.

This happens because `phoneNumber` gets set once (initially) and `getPhoneNumber` just returns the constant, even if it's stale.

|             |     |
| ----------- | --- |
| Version     |  all  |
| Affected OS | android   |
| OS Version  | all  |

## Current behavior

Start app for

[2018-05-31 02:58] zidzid1234 commented on #304
Use Yarn!!!
sudo yarn add packageName --dev/-D
If Yarn gives you error like: Missing list of packages to add to your project
YOU NEED TO PUT PACKAGE NAMES IN FRONT OF THE --dev/-D !!!

[2018-05-31 15:45] johhansantana commented on #400
I'm getting something similar when doing any of the functions:
![1](https://user-images.githubusercontent.com/9933887/40792501-15f02964-64c8-11e8-88f0-98186186c777.png)

[2018-05-31 16:26] sircEUNHO opened #418 "Crashing on Android"
## Summary

|             |     |
| ----------- | --- |
| Version     | 0.21.5   |
| Affected OS | Android   |
| OS Version  | ?   |

## Current behavior

The app is crashing after linking the library.  Here are some screenshots of my code

`settings.gradle`
![image](https://user-images.githubusercontent.com/30286632/40794419-ac14e2ea-6531-11e8-90b5-8ddedbfeb9b7.png)

`android/build.gradle`
![imag

[2018-05-31 18:08] machour commented on #418
Please provide the actual crash/error message

[2018-05-31 20:10] joshdhenry opened #419 "Some functions return '123'"
## Summary

|             |     |
| ----------- | --- |
| Version     | 0.21.5   |
| Affected OS | iOS   |
| OS Version  | 11.2   |

## Current behavior

I'm running getModel() and getBrand() functions. On multiple physical devices and in simulator, I only ever get '123' as the returned value. Other functions such as isTablet are returning the expected value, not returning '123'.

I've tried older

[2018-06-01 01:50] playerfine commented on #418
+ 1
App Crashes on launch with no crash/error message

[2018-06-01 06:32] sircEUNHO commented on #418
@machour Yeah App Crashes with no crash / error, doesnt have any error shown on react-native log-android

[2018-06-01 07:13] machour commented on #418
Could you set up a public repo reproducing the error?

[2018-06-01 07:15] machour commented on #419
Hi! Well, this one is really weird. Could you set up a public repo reproducing the problem?

[2018-06-01 07:15] #413 closed

[2018-06-01 07:16] machour commented on #414
Seems like this temporary problem with jcenter() is now over. Closing this issue.

[2018-06-01 07:16] #414 closed

[2018-06-01 07:17] #395 closed

[2018-06-01 07:17] #399 closed

[2018-06-01 09:21] yusuf987 commented on #213
MacKentoch  answer worked for me

[2018-06-01 11:39] sircEUNHO commented on #418
i'll try to make a new public repo with my current libraries, i'll send it later man

[2018-06-01 12:54] niranjan-b-prajapati commented on #213
Unfortunately my problem was resolved by deleting node modules folder and running Yarn command again. It was very weird knowing there were no changes made in node modules.

[2018-06-01 14:43] vysotsky commented on #175
I'm also having this issue.
I used @AlexDM0 solution but this didn't help.
RN v0.54.2

[2018-06-01 15:48] mikeartfay opened #420 "getDeviceLocale() unexpected behavior on iOS device"
## Summary
Return values for the `getDeviceLocale()` API do not match the API documentation on iOS version 11.0+, only when running on a physical device. Behavior works as expected in the iOS simulator.

|             |     |
| ----------- | --- |
| Version     | 0.21.5  |
| Affected OS | iOS   |
| OS Version  | 11.0+  |

## Current behavior

Given: Running on a physical iOS device, OS level >= 11

[2018-06-02 16:50] richeterre commented on #377
To be fair, from what I've seen these problems would probably not exist if Facebook had built iOS support in RN around CocoaPods in the first place – which is, after all, _the_ dependency resolver of choice for iOS projects.

Now what happens is that RN comes bundled with its own React + friends, but those aren't known to CocoaPods and thus cannot be resolved against libraries such as this one, wh

[2018-06-04 02:06] 15926332620 opened #421 "support-media-compat-26.1.0.jar 这个文件在jcenter 仓库找不到了求指点 差文件报错"
https://jcenter.bintray.com/com/android/support/support-media-compat/26.1.0/support-media-compat-26.1.0.jar  这个资源找不到了怎么办  用的版本0.10.2

[2018-06-04 05:32] sircEUNHO commented on #418
@machour try this one [https://github.com/sircEUNHO/ForTesting](url)

[2018-06-04 06:49] bastolaxantos commented on #418
I added this library and got this error on launching the app. It works fine if i remove the react-native-fcm library, but whenever  i add both the app crashes. Here is the log of crash  :-

06-04 12:26:06.949 5578-5578/com.yudhaapp E/AndroidRuntime: FATAL EXCEPTION: main
    Process: com.yudhaapp, PID: 5578
    java.lang.NoClassDefFoundError: Failed resolution of: Lcom/google/android/gms/common/in

[2018-06-04 07:48] bastolaxantos commented on #418
@sircEUNHO  Could be. Firebase and this library are not getting along.

[2018-06-04 08:42] sircEUNHO commented on #418
I tried to remove my react-native-firebase but still the app is crashing without any errors showing, may i aks how you come up with the stack trace @bastolaxantos ?

[2018-06-04 08:50] bastolaxantos commented on #418
@sircEUNHO I opened the project on Android Studio and run from it.

[2018-06-04 09:55] VaishaliHawaldar opened #422 "Automatic date & time / Automatic time zone flag values"
## Summary

|             |     |
| ----------- | --- |
| Version     | ?   |
| Affected OS | ?   |
| OS Version  | ?   |

## Current behavior

## Expected behavior

[2018-06-04 09:58] machour commented on #422
Please fill in a new issue with the requested information in the template

[2018-06-04 09:58] #422 closed

[2018-06-04 10:03] VaishaliHawaldar opened #423 "Automatic date & time / Automatic time zone flags value"
Hi,

For some requirement we need the automatic date & time / automatic time zone flag values from Date & time Settings. Can you please provide this information like the way you have provided for is24Hours

This scenario can occur when user has selected a custom date & time / timezone on phone but we want the exact today date & time as per current timezone

![capture](https://user-images.githubuse

[2018-06-04 10:34] VaishaliHawaldar commented on #422
@machour  i have opened a new issue 423, can you please have a look and let us know it is possible or not, as it is urgently needed for our requirement.

[2018-06-05 01:39] Mscynol commented on #421
me too  im crazy

[2018-06-05 12:11] diteshcrypto commented on #418
Adding the following line to the android build.gradle file

configurations.all {
            resolutionStrategy.eachDependency { DependencyResolveDetails details ->
                def requested = details.requested
                if (requested.group == 'com.google.android.gms') {
                    details.useVersion '12.0.1'
                }
                if (requested.group == 'com.google.f

[2018-06-05 12:13] diteshcrypto commented on #418
Adding the following line to the android build.gradle file

`configurations.all {
            resolutionStrategy.eachDependency { DependencyResolveDetails details ->
                def requested = details.requested
                if (requested.group == 'com.google.android.gms') {
                    details.useVersion '12.0.1'
                }
                if (requested.group == 'com.google.

[2018-06-05 13:41] sircEUNHO commented on #418
@diteshcrypto thanks i'll put the first line of codes on android/build.gradle right? while the second one is in android/app/build.gradle?

[2018-06-05 13:54] djereg opened #424 "Java exception in 'NativeModules'"
## Summary

|             |     |
| ----------- | --- |
| Version     | 0.21.5   |
| Affected OS | Android   |
| OS Version  | 8.0   |

[code]

[code]

[code]

## Current behavior

First tested in emulator, crashed, after on my phone, crashed too.

[code]

[2018-06-05 14:12] sircEUNHO commented on #418
@diteshcrypto this doesn't work on my case. I'ts still crashing.

[2018-06-05 14:33] ghsdh3409 opened #425 "Deprecated accessing locale directly on Android"
## Summary

|             |     |
| ----------- | --- |
| Version     | 0.21.5   |
| Affected OS | Android   |
| OS Version  | 7.0 (API 24)   |

## Current behavior

* `getDeviceCountry` and `getDeviceLocale` are implemented by accessing `locale` directly on Android.
* By the way, accessing `locale` directly is deprecated in API 24.
  * https://developer.android.com/reference/android/content/res/C

[2018-06-06 05:09] rf1804 opened #427 "Is device is haves iphone X like notch or not"
## Description

There should be a function to find out does phone have a notch or not, so that design can be implemented more relevant and flawless

## Use Case

it can be like isNotch() which would return true if phone have notch and false if not or vice-versa, as per the implementations.

[2018-06-06 06:14] Mscynol opened #428 "when i run it on the Android ,It have a problem like it Could not find support-media-compat.jar (com.android.support:support-media-compat:26.1.0)."
## when i run it on the Android ,It have a problem like it

## Current behavior
![1](https://user-images.githubusercontent.com/13941582/41019913-602434ce-6993-11e8-97fc-70636e255063.png)

## Expected behavior
it will be OK!

|             |     |
| ----------- | --- |
| Version     | 0.21.5   |
| Affected OS | Android  |
| OS Version  |   7.0 |

[2018-06-06 06:16] Mscynol commented on #428
I have try it many times ,but never done,i'm crazy

[2018-06-06 09:21] djereg commented on #424
Probably duplicate of #418

[2018-06-06 09:34] courptwayne opened #429 "RCTBridge required dispatch_sync to load RCTDevLoadingView. This may lead to deadlocks"
## Summary

|             |     |
| ----------- | --- |
| Version     | ?   |
| Affected OS | ?   |
| OS Version  | ?   |

## Current behavior

## Expected behavior

[2018-06-06 09:35] machour commented on #429
Duplicate of #260

[2018-06-06 09:35] #429 closed

[2018-06-07 06:10] bastolaxantos commented on #418
@sircEUNHO If you still facing crash problem then follow these steps. It worked in my case:

1. Open the project on Android Studio
2. On app level build.gradle file use same version on all firebase and gms dependencies.
  dependencies {
    compile project(':react-native-device-info')
    compile project(':react-native-fcm')
    compile fileTree(dir: "libs", include: ["*.jar"])
    compile "com.an

[2018-06-07 07:08] eeeman1 opened #430 "TypeError: undefined is not an object (evaluating 'RNDeviceInfo.uniqueId')"
## Summary

|             |     |
| ----------- | --- |
| Version     | react-native-device-info": "^0.21.5"   |
| Affected OS | Android   |
| OS Version  | Android   |

## Current behavior

## Expected behavior

[2018-06-07 08:00] #418 closed

[2018-06-07 08:02] sircEUNHO commented on #418
@bastolaxantos getting the stack trace on android studios and finding solutions for it fixed this for me. It had a conflict with my react-native-background-geolocation but its fixed now thanks for all the answes.

[2018-06-07 09:15] machour commented on #421
Hi, could you re open this issue in English? You'll probably get more support that way.

[2018-06-07 09:15] #421 closed

[2018-06-07 11:49] garavm commented on #139
I too face the same issue.

I tested with multiple devices(mobile phones) from same location(India) and the country is not unique.

The below device shows country as `IN`
[code]
The below device shows country as `US`
[code]

[2018-06-08 08:20] trungnb commented on #428
in your project / build.gradle add maven google above of jcenter then compile again
[code]

[2018-06-08 16:14] hiddentao commented on #260
Seeing this too

[2018-06-09 06:00] xuchao321 opened #431 "为什么一直报错"
![1528524002 1](https://user-images.githubusercontent.com/28084523/41188267-64c1bac2-6bed-11e8-8e61-e9bb12cc42a0.jpg)

[2018-06-09 22:11] kaushil111 opened #432 "Unable to work with react-native-google-signin for Android"
## Summary
The android app doesn't build when I try to use the sdk. It shows the following stack trace:
[code]

## Current behavior

Android Build fails with errors after installing and linking the sdk

[code]

[code]

[2018-06-11 14:34] machour commented on #432
Hi, as far as I can see in the logs, this is not related to react-native-device-info, but to react-native-google-signin.

[2018-06-11 14:41] kaushil111 commented on #432
You are right! But it happens only when I integrate react-native-device-info in to the project, while  react-native-google-signin is working good.

[2018-06-11 14:43] machour commented on #432
Ok, thought you were confused by the last bits.
Could you check our troubleshooting section in the README file?

[2018-06-11 23:48] hzburki commented on #400
![screen shot 2018-06-12 at 4 48 29 am](https://user-images.githubusercontent.com/17387720/41262719-df665fc0-6dfb-11e8-98b5-c6668cb30df5.png)

Getting the same error ... help please.

[2018-06-14 09:45] sandropoluan commented on #395
I decided to not using this lib for a while.
And today I trying to install it  And I got this problem

[code]
And then it stuck

[2018-06-14 11:52] whiteMu opened #433 "Execution failed for task ':react-native-device-info:verifyReleaseResources'. > com.android.ide.common.process.ProcessException: Failed to execute aapt"
"react-native-device-info": "^0.21.5",

[2018-06-14 12:14] machour commented on #433
Use the issue template please.

[2018-06-14 12:14] #433 closed

[2018-06-14 12:30] whiteMu opened #434 "Execution failed for task ':react-native-device-info:verifyReleaseResources'"
## Summary

|             |     |
| ----------- | --- |
| Version     | 0.21.5  |
| Affected OS | Android   |
| OS Version  | 6.0   |

## Current behavior

I run the ./gradlew assembleRelease
Execution failed for task ':react-native-device-info:verifyReleaseResources'.

## Expected behavior
sorry ,my english is poor.

[2018-06-15 06:30] machour commented on #434
Hi @whiteMu, can you put some more logs so that we can see what problem leads to this error?

[2018-06-16 05:02] mrkhanakia opened #437 "IOS DeviceInfo.getModel() is undefined in Iphone 6 - 11.4"
## Summary

|             |     |
| ----------- | --- |
| Version     | 0.21.5  |
| Affected OS | IOS   |
| OS Version  | 11.4  |

## Current behavior

TypeError: Cannot read property 'model' of undefined when i use DeviceInfo.getModel()

[2018-06-18 04:45] imbudhiraja commented on #139
This issues occurs due to the phone language selected in setting. If selected lang is English(US) it return country as USA , if selected lang is English(IN) it will return India.

Thanks

[2018-06-18 10:10] garavm commented on #139
Okay thanks

On Mon 18 Jun, 2018, 10:15 AM Manish Budhiraja, <notifications@github.com>
wrote:

[2018-06-18 12:47] Waltari10 opened #438 "Failed resolution of: Lcom/google/android/gms/common/util/zzu"
Hey, we have had this package for a while in our application, but now all of a sudden it has started to give us an error. The error looks like this:

![screenshot_20180618-154508](https://user-images.githubusercontent.com/8919286/41536615-d50c51a2-730e-11e8-89a5-a2f0da3c60af.png)

What could be the cause? iOS seems to work fine.

**Version:** 0.21.5
**Affected OS:** Android
**OS Version:** 6.0 and

[2018-06-18 12:54] machour commented on #438
Check the troubleshooting section at the bottom of the README

[2018-06-19 09:00] #438 closed

[2018-06-19 14:41] #432 closed

[2018-06-20 09:54] xbgph opened #439 "'React/RCTDefines.h' file not found"
"react": "16.2.0",
"react-native": "0.52.2",

use cocoapods

[2018-06-20 10:05] machour commented on #439
Use template.

[2018-06-20 10:05] #439 closed

[2018-06-20 20:50] dvshub commented on #369
This page seems helpful, defining the aspect ratios and height/width in px and dp, covering most of the device categories out there - https://material.io/tools/devices/
The first column "Type" specifies whether the device is considered a tablet or not.

[2018-06-21 14:49] wvddrss opened #441 "Detect users calendar settings"
## Description

Ability to detect the device calendar settings on iOS.

## Use Case

When iOS devices have a different type of calendar set, non-gregorian for example. We should be able to detect this setting so we change date notation.

[2018-06-22 17:54] machour commented on #431
Please use the bug report template, and further explain what you did to get this error.

[2018-06-22 17:54] #431 closed

[2018-06-23 10:59] achadha0111 commented on #439
Which template should I use? I am having the same issue.

[2018-06-24 16:07] jovanxua commented on #434
Same here. Got similar error as below:

* What went wrong:
Execution failed for task ':react-native-device-info:prepareComGoogleAndroidGmsPlayServicesBasement1104Library'.

[2018-06-25 09:18] psegalen commented on #260
I think I found how to resolve this issue: the issue is caused by the fact that the module requires the main queue (https://github.com/rebeccahughes/react-native-device-info/blob/master/ios/RNDeviceInfo/RNDeviceInfo.m#L31) while the app's loading, it seems to be wrong for some reason so we need the `requiresMainQueueSetup` to return `NO`.

Unfortunately doing so would cause a crash since when the

[2018-06-25 10:19] machour commented on #260
Hi @psegalen, by all means yes.
This will be a bc breaking release though, we'll need to semver that properly

[2018-06-25 10:33] maxkomarychev commented on #260
Also the current way of getting user agent is now deprecated. New version is async: https://developer.apple.com/documentation/uikit/uiwebview/1617963-stringbyevaluatingjavascriptfrom?language=objc

[2018-06-25 13:39] psegalen commented on #260
@machour PR #442 is ready to be tested, I didn't modify the changelog since I don't know what you want to do with the semver (I guess the changelog will have to be modified in the process).
I integrated the new way of getting user agent @maxkomarychev suggested

[2018-06-25 20:02] maxkomarychev commented on #260
looks like we have a solution in #442, great job @psegalen !

[2018-06-26 03:04] Mscynol commented on #428
yeah,perfect!

[2018-06-26 07:19] psegalen commented on #260
I've spotted a bug with my fix, I'm checking how to work around it:
[code]

[2018-06-26 07:29] psegalen commented on #260
This line (https://github.com/rebeccahughes/react-native-device-info/blob/master/ios/RNDeviceInfo/RNDeviceInfo.m#L207) must be executed from the main thread. 😞
I'll have to lazy load that one too, changing the return type from `number` to `Promise<number>`, would that be ok @machour & @maxkomarychev?

[2018-06-26 07:38] maxkomarychev commented on #260
@psegalen can we bring back `requiresMainQueueSetup `?

I see no problem with module being initialized on main thread in general.

The bigger problem is to have `dispatch_sync` called on main thread *from* main thread (which I'm assuming what was wrong with webview operation) which we solved.

[2018-06-26 07:44] psegalen commented on #260
@maxkomarychev you're right, I didn't think about this but I've just tested: bringing back `requiresMainQueueSetup` return value to `YES` no longer triggers the yellow box, I'm pushing a commit on the PR.

[2018-06-26 09:36] psegalen commented on #260
Unfortunately, yellow box has returned, it occurs way less often but it still occurs from time to time.
It seems that nothing in a module init process should ask to run on main thread... 😢

[2018-06-28 03:29] xntop commented on #260
solutions does not work
Same issue.
RN v0.52.1

[2018-06-28 20:53] anwarhamr commented on #178
+1 for current ram and CPU

[2018-06-28 20:56] anwarhamr opened #443 "Current or free Memory and current CPU would be a nice addition to help diagnostics."
Any chance either or both of these are on the roadmap?

[2018-06-29 07:55] machour commented on #178
Don't comment on old issues, instead, open a new one of needed :)

[2018-06-29 07:56] #428 closed

[2018-06-30 02:41] SirPhemmiey opened #444 "Returns Unknown"
Hi,
`getDeviceId`() returns `unknown`

"react-native": "^0.55.4",
react-native-device-info": "^0.21.5",

[2018-06-30 07:46] jnranawedo commented on #438
Hi. i am facing the exact same issue & happen to use this library as well. Tried the solution in the troubleshooting section. Its not working either.

![image](https://user-images.githubusercontent.com/31758038/42122986-cc6d5368-7c67-11e8-82fc-83b1f1737f7f.png)

[2018-06-30 08:32] machour commented on #444
Hi

On what device are you testing?

[2018-06-30 08:40] machour commented on #438
Don't comment on closed issues, you won't get help that way :)

[2018-06-30 09:53] jnranawedo opened #445 "java.lang.NoClassDefFouindError : Failed resolution of: Lcom/google/android/gms/common/util/zzu"
Have been using this package since December'17 and it was working perfect till now.
Now suddenly facing this issue. It has something to do with Google Play service i guess. Not able to resolve this.

![image](https://user-images.githubusercontent.com/31758038/42123978-dbe9ba6e-7c78-11e8-9785-9b5a9f7685c5.png)

Tried the solution given in the troubleshooting section (implemented below in build.grad

[2018-06-30 19:07] creative-git opened #446 "clang: error: no such file or directory: libRNDeviceInfo.a"
|             |     |
| ----------- | --- |
| Version     | v0.21.1   |
| Affected OS | iOS   |
| OS Version  | RN 0.55   |

## Current behavior
When i try to build or archive my project in xCode, i get the following:

`clang: error: no such file or directory: '/Users/creative/Library/Developer/Xcode/DerivedData/PROJECT_NAME-bafoidfjyrtxuchdgsrpxhifyibq/Build/Intermediates.noindex/ArchiveIntermedi

[2018-07-02 09:11] vanlight commented on #444
me too, emulator: Pixel_XL_API_25(AVD) - 7.1.1. When i get name, it return unknown

[2018-07-02 10:04] machour commented on #444
Did you grant the android.permission.BLUETOOTH permission as stated in the README file?

[2018-07-02 11:55] davidvenin commented on #213
removing override worked for me as well :)

[2018-07-02 16:44] kashlo commented on #434
Same

* What went wrong:
Execution failed for task ':react-native-device-info:verifyReleaseResources'.

[2018-07-03 08:40] prometheansacrifice commented on #445
Adding the following to build.gradle fixed the issue for me

[code]

[2018-07-03 13:07] realtebo commented on #434
Same problem here

* What went wrong:

Execution failed for task ':react-native-device-info:incrementalReleaseJavaCompilationSafeguard'.

* Current RN-device-info version
"react-native-device-info": "^0.21.5",

I'm on windows 10 professionale, with node 8.10.0

[2018-07-03 14:57] br4nnigan commented on #378
just the usual rn fuckery

[2018-07-04 06:59] Udbhav12 commented on #112
Is there any way to get SIM number using react-native-device-info ?

[2018-07-04 08:56] fangcaiwen commented on #414
感谢，如此奇葩，移动位置就可以

[2018-07-05 02:05] navata commented on #446
I have a same issue. I can't find libRNDeviceInfo.a ?

[2018-07-05 07:26] realtebo opened #447 "Android: RNDeviceModule.java uses or overrides a deprecated API."
## Summary

|             |     |
| ----------- | --- |
| Version     | 0.21.5   |
| Affected OS | Android  |
| OS Version  | any  |

## Current behavior

Running `gradlew assembleRelease`  for my project, I got this, it's only an info, but I prefer to report to you

[code]

## Expected behavior

No warning about use of deprecated API

## PS

Thank your for developing and mantaining this project.

[2018-07-05 14:23] SatishAshokMahajan commented on #325
Getting same error as mentioned by @sytolk. Any suggestions?

[2018-07-06 05:35] VahidBo commented on #414
I'm facing this issue again since I upgraded my `react-native` to version 0.56.0.

[2018-07-06 09:57] jindada commented on #383
+1

[2018-07-06 13:48] adunn511 commented on #325
in the AndroidManifest.xml those permissions need to be added above the <application> tag. I did it locally and it resolved those issues, but I kept getting a mismatch with gradle versions, so I made my own stuff to use since I only needed a few things. Hope this helps

[2018-07-06 15:38] sytolk commented on #325
@adunn511 you not need to add those permissions (if you not use READ_PHONE_NUMBERS in you App) I think the true fix for this is to suppress Lint warnings in react-native-device-info build.gradle something like this:
[code]

[2018-07-06 16:03] adunn511 commented on #325
@sytolk that’s not true the linter for the package picks that up since there are functions that need those permissions to execute, thus causing builds to fail. I use an automated pipeline and it runs the linter for this package, I’m not using those but it still fails. Adding that to the build.gradle will just suppress all lint errors. If the owners of this are okay with that I wouldn’t be opposed

[2018-07-06 16:04] adunn511 commented on #325
I meant add those to permissions in the manifest for this package not at the app level

[2018-07-06 20:35] sytolk commented on #325
@adunn511 if READ_PHONE_NUMBERS permission is added in Manifest for this lib. Manifest merger will set this permission in your app too. And the PlayStore users that install the App need to accept READ_PHONE_NUMBERS permission from your fake App :) I thing this is the worst thing that suppress Lint warnings ;)

[2018-07-06 21:04] ismavg55 commented on #447
+1

[2018-07-10 11:59] ABelkin commented on #446
+1

[2018-07-11 08:26] InteliCare opened #448 "Failed resolution of: Lcom/google/android/gms/common/util/zzv"
## Summary

|             |     |
| ----------- | --- |
| Version     | 0.21.5   |
| Affected OS | Android   |
| OS Version  | 7   |

## Current behavior

After app compiles it fails to load the app on the device with the error.
![screenshot_20180711-162219](https://user-images.githubusercontent.com/40415206/42559599-2b2324c4-8527-11e8-8faf-ef3c0d1be17b.png)

## Expected behavior

It should load t

[2018-07-11 08:45] machour commented on #448
Hi, please check the troubleshooting section and the readme and the many closed bug reports about this issue.

[2018-07-11 10:09] InteliCare commented on #448
I have tried the fix in the read me as well as the fix from [issue](https://github.com/rebeccahughes/react-native-device-info/issues/445). That issue may seem the same but the errors are different. The issue still remains.

[2018-07-11 10:13] InteliCare commented on #448
[android/build.gradle](https://github.com/rebeccahughes/react-native-device-info/files/2184000/build.gradle.txt)

[android/app/build.gradle](https://github.com/rebeccahughes/react-native-device-info/files/2184002/build.gradle.txt)

[2018-07-11 12:52] hugopretorius72 commented on #446
Same issue, any ideas?

[2018-07-11 15:31] MatheusLima7 opened #449 "WifiService: Neither user 10054 nor current process has android.permission.ACCESS_WIFI_STATE"
## Summary
|             |     |
| ----------- | --- |
| Version     |  v0.21.1  |
| Affected OS | Android   |
| OS Version  | 5.1  |

## Error

![image](https://user-images.githubusercontent.com/15960654/42582643-1592e2b4-8506-11e8-85d2-e9f874e915b0.png)

Can someone help me?

[2018-07-12 11:15] ntphong1990 commented on #89
I facing it in 0.21.5
I back to 0.15.3 and it's gone

[2018-07-12 14:00] machour commented on #89
Please open a new issue.

[2018-07-13 02:50] ntphong1990 opened #450 "RCTFatal + 400 on iOS"
I got this error log from my last release app.

<img width="1036" alt="screen shot 2018-07-13 at 09 20 40" src="https://user-images.githubusercontent.com/14165753/42669315-e6f7474a-867e-11e8-8547-45cf6ef0a6f1.png">
<img width="838" alt="screen shot 2018-07-13 at 09 21 06" src="https://user-images.githubusercontent.com/14165753/42669322-ebbe26b8-867e-11e8-9153-d848e0f00410.png">

Version : 0.21.5
A

[2018-07-13 10:10] bakedbird commented on #52
For anyone still having this issue even after following the manual linking steps.

- Go to MainApplication.java
- Delete `new RNDeviceInfo()` from `getPackages()`
- Add `getPackages()` inside `createAdditionalReactPackages()`

In case you don't have `createAdditionalReactPackages()` in your `MainApplication.java`, here is the code:

[code]

[2018-07-13 20:42] luskin commented on #260
Still an issue on RN v0.56.0

[2018-07-14 20:22] jason2li commented on #400
Any updates on this?  I'm getting the same thing.

[2018-07-15 12:19] ahmedraza11 commented on #384
having the same issue how do I resolve it

[2018-07-15 18:19] machour commented on #384
@ahmedraza11 please open a new issue describing your problem, with as much logs as possible

[2018-07-16 00:44] opp100 commented on #434
It is happening in RN 0.56, and it seems like the `com.android.support:appcompat-v7:26.1.0` has been used and it is incompatible with current react-native-device-info.

[2018-07-16 12:04] winadiw commented on #331
i also got that problem when getting `getTotalDiskCapacity()`, how to solve this problem?

[2018-07-17 04:14] nabeelpkl opened #451 "Failed to notify dependency resolution listener. com.google.android.gms:play-services-measurement-base is being requested"
Hi, I have implemented firebase authentication in my app without any issues. Now I am trying to add Firestore to my project. Right now I am creating the project only for Android. After adding the dependencies as mentioned in the documentation I am getting the following error if I open my project in Android studio.

This is my `app/build.gradle`

[code]

## Summary

|             |     |
| --------

[2018-07-17 06:46] namanyayg commented on #449
I have the same error. I'm trying to use:

[code]

[2018-07-17 10:51] #451 closed

[2018-07-17 11:06] anishroff commented on #418
@sircEUNHO What was the solution ? Can you post it here ? I am also stuck in the same situation and can get help.

[2018-07-19 14:04] ButuzGOL opened #452 "MobSF issue (com.learnium.RNDeviceInfo.RNDeviceReceiver) is not Protected."
Did some check of my apk in MobSF
and got
(com.learnium.RNDeviceInfo.RNDeviceReceiver) is not Protected. [android:exported=true]

A Broadcast Receiver is found to be shared with other apps on the device therefore leaving it accessible to any other application on the device.
<img width="956" alt="screen shot 2018-07-19 at 5 10 14 pm" src="https://user-images.githubusercontent.com/196564/42948919-39

[2018-07-20 15:24] rakafaProg commented on #383
I get the same issue.
only on android.

using react-native-navigation as well, which make the auto linking wrong, but I did it manually like 15 time..

tried every thing suggested here and on related issues.

unlinked and linked manually in every way possible,
cleand cash,
reinstalled npm,

nothing helps...

works fine on ios.

is there any solution?

[2018-07-20 16:54] afilp commented on #439
@machour What do you mean by "template"?

[2018-07-22 07:37] MarcBrout commented on #444
android.permission.BLUETOOTH is not specified for getDeviceId(), but for getDeviceName()

[2018-07-22 09:33] AWDGroup commented on #434
I have the same issue

:react-native-device-info:verifyReleaseResources FAILED

FAILURE: Build failed with an exception.

* What went wrong:
Execution failed for task ':react-native-device-info:verifyReleaseResources'.

[2018-07-23 15:32] machour commented on #400
Added `getIpAddress` and `getMacAddress` for iOS in 0.22.0

[2018-07-23 15:32] #400 closed

[2018-07-23 15:54] machour commented on #383
@rakafaProg or @blackhair is your project available online so I can test by myself?

[2018-07-23 15:56] machour commented on #383
Removed all "+1" and iOS related comments, to make this issue readable again.

[2018-07-23 15:57] machour commented on #452
@ButuzGOL Thank you for this report. Any clues on how to fix that? I'll gladly accept a PR.

[2018-07-23 16:00] machour commented on #451
Dear @nabeelpkl, next time, please just close the issue without editing out the subject & body.
People would benefit from reading your report way more than reading "asdbasd" :)

[2018-07-23 16:02] machour commented on #446
Hey @barjas, any updates on this?

[2018-07-23 16:23] machour commented on #414
@VahidBo This is a totally different issue. Please open a new ticket.

[2018-07-23 16:40] machour commented on #419
No feedback provided.

[2018-07-23 16:40] #419 closed

[2018-07-23 17:44] machour commented on #447
Thank you so much for opening this issue @realtebo, this problem is already logged in #325, so I'm closing this bug report.

Cheers!

[2018-07-23 17:44] #447 closed

[2018-07-23 17:47] machour commented on #449
Hi, as mentioned in the documentation, you should request the ACCESS_WIFI_STATE to be able to use getIpAddress or getMacAddress: https://github.com/rebeccahughes/react-native-device-info#getipaddress

[2018-07-23 17:47] #449 closed

[2018-07-23 19:52] SudoPlz opened #455 "Crashes on iOS 12 Beta"
## Summary
Makes our app crash on iOS 12 Beta production buillds

|             |     |
| ----------- | --- |
| Version     | "react-native-device-info": "0.22.0",  |
| Affected OS | iOS  |
| OS Version  | 12 Beta   |

## Current behavior

Instantly crashes on app launch:

Stacktrace:

[code]

<img src="https://user-images.githubusercontent.com/3070948/43099453-e9436bc4-8eca-11e8-84ef-4721f5b97267

[2018-07-23 21:55] machour commented on #455
Hi @SudoPlz,

Could you possibly apply https://github.com/rebeccahughes/react-native-device-info/pull/442 locally and give this a try? If it's okay, I'll cut v1.0.0 shortly

[2018-07-23 23:54] opp100 commented on #434
Hey guys,
I found solution here: https://github.com/facebook/react-native/issues/19239#issuecomment-389939749.
Now the RN 0.56 + Gradle 3.0 is working for me.

[2018-07-24 04:05] sarathvad1811 commented on #400
Thank you !!! <3

[2018-07-24 20:17] SudoPlz commented on #455
@machour I confirm it's fixed after using that PR.

[2018-07-25 05:39] ButuzGOL commented on #452
as i understand they suggest to change
android:exported="true" to false
will it break something ?

[2018-07-25 08:49] qayyummdnoor commented on #449
why do you close this, the link you gave is just to put permission at android manifest. i did it and still show up the same error.
`DeviceInfo.getIPAddress()
      .then(ip => {})`

[2018-07-25 09:37] machour commented on #449
Hi @qayyummdnoor, I'm closing this issue because the initial reporter clearly didn't add the required permission to his Manifest, see the screenshot.

Feel free to open your own issue describing your problem, along with the error log.

[2018-07-25 09:39] machour commented on #450
Hey @ntphong1990, #442 may just be the fix you need, as tested in #455.

If you have the time, could you confirm that the PR fixes this for you too?

[2018-07-25 09:42] machour commented on #443
Hi @anwarhamr, not really on the roadmap, but feel free to submit a PR anytime :)

[2018-07-25 09:43] machour commented on #424
@djereg could you check the troubleshooting section of the README and tell me if that fixes your problem?

[2018-07-25 09:44] machour commented on #416
Definitely, thank you @rcorrie !
Will be shipped in #307

[2018-07-25 12:17] mariraj-mitosis commented on #213
Execution failed for task ':react-native-deviceinfo:compileReleaseJavaWithJavac'
Error in react-native 0.55.4

[2018-07-25 17:36] djereg commented on #424
Ohh, sorry! I forgot to close this issue.

The problem was solved by following [this comment](https://github.com/rebeccahughes/react-native-device-info/issues/418#issuecomment-395304541).

The solution was using the same version of firebase and gms dependencies.

[code]

[2018-07-25 17:36] #424 closed

[2018-07-26 06:31] hatyaiapp commented on #446
me too, and I have error for **RNDeviceInfo.m** too

[2018-07-26 07:45] barjas commented on #446
@machour, not solved for me yet,

[2018-07-26 12:05] gpawlik commented on #420
Just FYI this behaviour is going to be normalised in the version `1.0.0` according to this PR: https://github.com/rebeccahughes/react-native-device-info/pull/354

[2018-07-26 14:11] machour commented on #425
Released in 0.22.1, thank you so much @ghsdh3409 & @ohtangza

[2018-07-26 14:11] #425 closed

[2018-07-26 14:29] hyunny94 opened #456 "getTimezone() returns undefined (other methods work fine so I don't think it's linking issue)"
## Summary
I am using getTimezone() to retrieve user's timezone and save it in our server, but getTimezone() returns undefined (other methods work fine so I don't think it's linking issue).

Set-up:
I am running react-native run-ios --device 'iPhone' to run on my own iPhone.

react-native-cli: 2.0.1
react-native: 0.55.4
react-native-device-info: 0.21.5
react: 16.3.1

My podfile includes this line.

[2018-07-26 15:00] machour commented on #456
Hi @hyunny94,

Here's the iOS code getting the Timezone:

[code]

I'm not sure how this end up being undefined for you.. What's your current time zone ? Do you experience this in the Simulator as well?

I see that you are using "this.timezone" in your console.log statement, are you sure you're logging the right thing?

[2018-07-26 15:12] hyunny94 commented on #456
Hi, thanks for the reply.

I did check the under-the-hood code in <my paths>/node_modules/react-native-device-info/ios/RNDeviceInfo/RNDeviceInfo.m, and I have the same code, which totally makes sense.

My current timezone is US/New York. I have checked on the Simulator and the same situation. I am getting undefined for timezone. (I am able to confirm that other functionalities are working correctl

[2018-07-26 15:20] dwilt commented on #351
@huybq95 are you testing on a simulator or real phone?

[2018-07-26 23:30] cmcewen commented on #307
Hi @machour! Just got here via waiting on #417. When are you thinking for the 1.0 release?

Also, I saw your proposal about exceptions - I think unimplemented functions should throw an exception in JS. For example, `getPhoneNumber` should have some function logic that it checks that the current platform is Android and throws otherwise. I feel like it's up to the lib consumer to only call on the ri

[2018-07-27 04:10] qayyummdnoor opened #458 "getMACAddress return "02:00:00:00:00:00" ANDROID"
## Summary

|             |     |
| ----------- | --- |
| Version     | 0.22.1  |
| Affected OS | Android   |
| OS Version  | 6.0.1 Android   |

## Current behavior

getMACAddress return "02:00:00:00:00:00" ANDROID
my code :

 {
    this.setState({ mac: false });
    DeviceInfo.getMACAddress().then(mac => this.setState({ mac }));
  }

{
const { mac } = this.state;
    return (
      `<View style={

[2018-07-27 05:48] InteliCare commented on #448
This issue was not due to device info. Managed to get past it

[2018-07-27 05:48] #448 closed

[2018-07-27 08:24] machour commented on #458
Hi, did you add the permissions in your manifest as mentioned in the documentation?

[2018-07-27 08:39] machour commented on #458
Could you try with android.permission.INTERNET ?

[2018-07-27 13:07] reedyrm opened #459 "Android build errors with 0.22.1 around getLocales()"
## Summary

I recently just upped my version of this library to 0.22.1 from 0.21.5 and everything is working locally for me.  But when I run my build in Travis CI the build is failing with these errors.

Travis CI Java:
Switching to Oracle JDK8 (java-8-oracle), JAVA_HOME will be set to /usr/lib/jvm/java-8-oracle

[code]

|             |     |
| ----------- | --- |
| Version     | 0.22.1   |
| Affe

[2018-07-27 14:09] qayyummdnoor commented on #458
I had tried with android.permission.INTERNET. Still return 02:00:00:00:00:00

[2018-07-27 16:54] maksim-harakhovich-itechart commented on #459
We do have the same issue.

[2018-07-27 17:38] kingmatusevich commented on #459
I have this issue locally.

[2018-07-27 18:06] tbenr commented on #459
same here.

[2018-07-27 19:38] cusspvz commented on #459
Same here

[2018-07-27 19:43] cusspvz commented on #459
Downgraded to `0.21.0` and it worked. Issue is only reproducible with `0.21.1`

[2018-07-27 20:45] kingmatusevich commented on #459
Downgrading to 0.21.5 worked for me.

[2018-07-27 20:46] tbenr commented on #459
0.21.5 ok for me too.

[2018-07-27 23:02] machour commented on #459
So sorry for that folks, this is related to #426 and will be dealt with it shortly

[2018-07-27 23:10] ohtangza commented on #459
Sorry folks. We are checking it now. Is there anyone who can share the `build.gradle` and java version?

[2018-07-27 23:34] ohtangza commented on #459
Oh, I guess I found the issue the `build.gradle` of this project (https://github.com/rebeccahughes/react-native-device-info/blob/master/android/build.gradle) is low to have the `.N` variable (https://developer.android.com/reference/android/os/Build.VERSION_CODES.html#N).

This project is using SDK 22 version, but the variable is available after SDK 24. I propose two solutions:

1) Change the N var

[2018-07-27 23:44] ohtangza commented on #459
@machour I also got noticed by https://github.com/rebeccahughes/react-native-device-info/pull/453 because the targetSdkVersion is expected to be bumped to the required version very soon.

[2018-07-28 01:16] ghsdh3409 commented on #459
@reedyrm @maksim-harakhovich-itechart @kingmatusevich @tbenr @cusspvz

I made a pull request. https://github.com/rebeccahughes/react-native-device-info/pull/460
Could you check that this change resolves this issue?

You can install this by following in `package.json`
[code]

[2018-07-28 11:41] machour commented on #458
https://developer.android.com/about/versions/marshmallow/android-6.0-changes#behavior-hardware-id

[2018-07-28 14:37] reedyrm commented on #459
Thanks for looking into this so quickly!

I just ran #460 locally and 2 of 4 errors are gone.  I'm still encountering errors around getLocales().  I pushed the build up to travis as well to see if I get the same errors.  Once I get a result, I'll update this comment.

[code]

build.gradle
[code]

[2018-07-29 02:33] ghsdh3409 commented on #459
@reedyrm Thanks for letting me know! I will reflect this asap!

[2018-07-29 05:35] ghsdh3409 commented on #459
@reedyrm Can you check again your project's `targetSdkVersion` and `compileSdkVersion`? It should be more than 24.

[2018-07-29 09:19] machour commented on #459
This should be fixed in 0.22.2, thank you all for your help & patience 🙏

[2018-07-29 13:56] rakafaProg commented on #383
@machour
I can't uplaod this project, since it is for a private company that wants secrecy,
but I can copy here all my settings:

in sttings.gradle:

     rootProject.name = 'SmartButler_react'
     include ':react-native-navigation'
      project(':react-native-navigation').projectDir = new File(rootProject.projectDir, '../node_modules/react-native-navigation/android/app/')

    include ':react-n

[2018-07-30 01:07] OdaDaisuke commented on #446
I have a same issue. Are there any way of build RNDeviceInfo?

[2018-07-30 01:09] OdaDaisuke commented on #446
maybe

[code]

[2018-07-30 22:12] ghsdh3409 commented on #459
@eis Could you share `compileSdkVersion` of your project?

[2018-07-31 09:38] kostyaVyrodov commented on #444
Same for me. I use ```react-native: 0.55.2``` and MODAT-532 as a device for development.

[2018-07-31 11:31] ashokkumar88 commented on #139
@imbudhiraja then how to know the actual device country?

[2018-07-31 13:11] eis commented on #459
[code]
[code]

[2018-07-31 13:17] ohtangza commented on #459
@eis It seems like you overrided the sub-projects` `compileSdkVersion` to 23 again. It's not this project's fault to break the build. Coudl I ask if there any particular reason to use the version of `23`?

(Btw, the official RN empty projects currently make use of `26`.)

[2018-07-31 13:41] eis commented on #459
I'm not very familiar with all this - I just know that for my configuration, using 0.22.0 works but later versions won't. Has there been a change in what version this project requires or in something else?

I don't have a particular reason other than that's what I've been using for this app in the past, and changing it just for the purpose of including this project is something I don't feel compel

[2018-07-31 14:02] ohtangza commented on #459
@eis There was an update for supporting recent APIs for Android side in regards to `.getLocale()`. That's why the SDK version is bumped up. If you do not have a particular reason to stick to the current version. I would recommend the following (as in RN repository):

https://github.com/facebook/react-native/blob/30b9d81087cb86f5fb272d00bfee63a0632009f5/ReactAndroid/build.gradle#L251-L255

(It's fr

[2018-07-31 16:14] imbudhiraja commented on #139
@ashokkumar88 you can get this information from geographical location of devices. In that case you always get mobile device current location.

[2018-08-01 05:44] SilencerWeb opened #461 "[question] Where can I find all possible timezones that getTimezone() return?"
I'm wondering where can I find all possible timezones that `getTimezone()` return? I want to use returned value with `Intl.DateTimeFormat`, but `Intl.DateTimeFormat` accept timezones only in this pattern: `Area/Location(/Location)*`, so I want to be sure that `getTimezone()` will not return something like `NZ` or `Universal` as `moment.js` does.

[2018-08-01 06:55] gyurobenjamin opened #462 "undefined is not an object (evaluating 'RNDeviceInfo.uniqueId')"
## Summary

|             |     |
| ----------- | --- |
| Version     | 0.22.2   |
| Affected OS | iOS / Android  |
| OS Version  | iOS 11, Android Oreo  |

## Current behavior

If I call any of the methods, I got an error message:
```undefined is not an object (evaluating 'RNDeviceInfo.uniqueId')```

## Expected behavior

Not get an error message, but see the results from the methods as in the do

[2018-08-02 08:38] x0fma commented on #462
Hey, have you linked the library ? Was having the same problem as you yesterday and I had just read too fast the Readme file :p

[2018-08-02 09:08] gyurobenjamin commented on #462
@x0fma yes I tried to link it with the react-native link ... I'm thinking it's might be a cache problem or something similar. I'm using expo.

[2018-08-02 12:29] gyurobenjamin commented on #462
I'm trying in simulator without build, and I haven't detached it yet.

On Thu, 2 Aug 2018 at 17:21, x0fma <notifications@github.com> wrote:

[2018-08-02 12:39] TacticalSlothmaster opened #463 "NoClassDefFoundError: Failed resolution of: Lcom/google/android/gms/common/util/zzw"
Hi,

I updated my dependencies in my app/build.gradle. Now I get the following red-screen error when I start my app (everything else is building correctly):

[code]
This only happens on android. I tried to add

[code]

in my dependencies, but with no luck.

my android settings:

    buildToolsVersion "27.0.1"
 ...
        minSdkVersion 16
        targetSdkVersion 27
        Device: Samsung Galaxy

[2018-08-02 12:44] x0fma commented on #462
You must detach your expo so you can link to packages that use native code.
See that thread, https://github.com/expo/expo/issues/56, hope it helps ^^

[2018-08-02 14:02] winadiw opened #464 "Get iPhone Model Number"
## Description

Get iPhone Model Number. For example in iPhone X: A1865, A1901, A1902 (Japan)

## Use Case
To identify if the device mobile data (4G especially) can work or not. Because some device have CDMA network.

[2018-08-03 05:05] saaksshi commented on #262
same error.

TypeError: Cannot read property 'isEmulator' of undefined

This error is located at:
    in Dashboard (at SceneView.js:9)
    in SceneView (at ResourceSavingSceneView.js:55)
    in RCTView (at View.js:43)
    in RCTView (at View.js:43)
    in ResourceSavingSceneView (at TabView.js:35)
    in RCTView (at View.js:43)
    in RCTView (at View.js:43)
    in AnimatedComponent (at TabViewPag

[2018-08-03 11:53] SilencerWeb opened #465 "add screenshots in manual linking instructions"
Could you add screenshots in manual linking instructions? I think it would be very helpful for newbies because it is pretty hard to understand the plain text if you are doing it first or second time.

Especially, this part in manual linking instruction for iOS:

[2018-08-03 19:00] knockmark10 commented on #414
Same thing is happening to me. It hadn't happened anything like this before. I tried comments above and no luck. Everytime I rebuilt, different errors apperar. Help!

[2018-08-04 09:37] machour commented on #262
Please open a new issue, comments on closed issues are not taken care of.

[2018-08-04 09:37] #262 closed

[2018-08-06 09:51] x0fma commented on #463
Hey I had the same problem, I've resolved it by adding `googlePlayServicesVersion=X.X.X` in the `gradle.properties` file in the android folder. Tell me if it works for you ^^

[2018-08-07 12:17] schumannd commented on #403
Will this fixed be merged in the future?

[2018-08-07 12:30] machour commented on #403
We were just missing a PR, and here you are :)

[2018-08-07 12:35] machour commented on #403
0.22.3 is out with this fix, thank you all!

[2018-08-07 13:59] sam1463 commented on #215
@testshallpasswork @machour any chance we could get this feature into the library before the next major version number, maybe by adding it as a separate method from the current synchronous `getTimeZone` method? It would be really helpful to have this.

[2018-08-07 14:01] machour commented on #215
@sam1463 I wouldn't mind adding it if a PR was submitted :)

[2018-08-07 15:05] sam1463 commented on #215
@testshallpasswork would you mind submitting a PR with your workaround?

[2018-08-08 06:36] manju-ms opened #467 "Battery percentage in decimal is not accurate"
## Summary

|             |     |
| ----------- | --- |
| Version     | 0.18.0   |
| Affected OS | android and ios   |
| OS Version  | android 5 and above and ios 10 and above   |

## Current behavior

When we use DeviceInfo.getBatteryLevel() it will return the value in in decimal that one if we convert to percentage it is not accurate to the decimal level.

## Expected behavior

Battery level mus

[2018-08-08 09:41] dluksza opened #468 "'u.getUniqueID' is undefined after upgrading to v0.22.3"
## Summary

|             |     |
| ----------- | --- |
| Version     |  v0.22.3   |
| Affected OS |  ios   |
| OS Version  |  11.4   |

## Current behavior

After simple upgrade from v0.22.2 to v0.22.3 I'm getting `u.getUniqueID is undefined` nothing else has hanged in my codebase. Simple revert back to v0.22.2 fixes this issue.

Here is full log:
[code]

## Expected behavior

Upgrading minor ver

[2018-08-08 10:06] manju-ms opened #469 "Device info not working in simulator"
## Description

## Use Case

[2018-08-08 10:07] #469 closed

[2018-08-08 10:09] manju-ms opened #470 "Device info is not working in simulator"
## Summary
| Version     | 0.17.4   |
| Affected OS | Android And Ios   |
| OS Version  | Android 5 and above, ios 10 and above |

## Current behavior
Device info is not working in simulator and it is working in real device.

## Expected behavior

It must work both in simulator and device.

[2018-08-08 10:16] machour commented on #470
Hi, could you give a little more information? "Is not working" doesn't really say anything..

[2018-08-08 10:30] manju-ms commented on #470
It will give the error undefined is not a object for DeviceInfo.

For Example in my component i am using the below code
var DeviceInfo = require('react-native-device-info');
DeviceInfo.getUniqueID() will give undefined is not an object.

[2018-08-08 16:01] robertkeizer commented on #470
<img width="258" alt="screen shot 2018-08-08 at 10 59 50" src="https://user-images.githubusercontent.com/339303/43849105-3d5377dc-9afa-11e8-8911-75d75c2a7639.png">

Similar thing happening.

[code]

[2018-08-09 05:15] mrkhanakia opened #471 "Failed to capture snapshot of input files for task ':react-native-device-info:compileDebugAidl' property 'importDirs' during up-to-date check"
Not working with latest Android Gradle build

## Summary

|             |     |
| ----------- | --- |
| Version     | ? "^0.22.3"   |
| Affected OS | ?   ANDROID |
| OS Version  | ?   Oreo|

## Current behavior
[code]
## Expected behavior
I have latest React Native and when i build gradle ti gives error

[2018-08-09 06:12] mrkhanakia opened #472 "uses or overrides a deprecated API. Recompile with -Xlint:deprecation for details."
I am getting error during Gradle build

/Volumes/D/www/js/uc_js/uc_reactnative/node_modules/react-native-device-info/android/src/main/java/com/learnium/RNDeviceInfo/RNDeviceModule.java:
uses or overrides a deprecated API.
Recompile with -Xlint:deprecation for details.

[2018-08-09 07:47] sunithakk opened #473 "java.io.IOException: Could not delete path 'C:\Users\CR-27\creatise\test\node_modules\react-native-device-info\android\build\generated\source\r\release\android\support'."
## Summary

|             |     |
| ----------- | --- |
| Version     | ?   |
| Affected OS | ?   |
| OS Version  | ?   |

## Current behavior

## Expected behavior

[2018-08-09 08:14] machour commented on #472
Duplicate of #325

[2018-08-09 08:14] #472 closed

[2018-08-09 08:17] #473 closed

[2018-08-09 10:27] eshikerya commented on #468
same issue. sounds like changing from ```module.exports = {...}```  to ```export default {...}``` broke everything

[code]

[2018-08-09 21:47] #459 closed

[2018-08-10 02:14] xiechuanyu opened #475 "Possible unhandled promise rejection (id:0): TypeError: undefined is not an object"
## Summary

|             |     |
| ----------- | --- |
| Version     | ^0.22.3 |
| Affected OS | Android   |
| OS Version  | 7.0.0  |

## Current behavior
when i use ``const deviceId = DeviceInfo.getDeviceId();'``,it shows me the following messages :

**``Possible unhandled promise rejection (id:0): TypeError: undefined is not an object``**
![_20180810100838](https://user-images.githubusercontent

[2018-08-10 10:35] anicolaides commented on #468
Same issue here; downgrading to 0.22.2 works fine.

[2018-08-10 19:42] dluksza commented on #468
it seams that upgrading node to `v10.8.0` fixes this issue.

[2018-08-12 04:58] ArthurLDS commented on #434
I Had the same issue and  the @opp100 solucion worked for me

I just add this code in my  #andoid/build.gradle

`subprojects {
  project.configurations.all {
      afterEvaluate {project ->
        if (project.hasProperty("android")) {
            android {
                compileSdkVersion 26
                buildToolsVersion '26.0.2'
            }
        }
    }
  }
}`

[2018-08-12 11:36] machour commented on #475
Is the problem present in 0.22.2 ?

[2018-08-12 11:37] machour commented on #403
This seem to be causing troubles: #468
/cc @jay1337 @peacechen

[2018-08-12 15:01] schumannd commented on #403
I did not encounter these issues. Are they fixed by using `import DeviceInfo from 'react-native-device-info';` instead of other forms of importing this package?

[2018-08-12 21:37] eshikerya commented on #403
@schumannd nope. starting from 0.22.2 it is broken. any type of import give an error

[2018-08-12 21:53] eshikerya commented on #468
[code]
fixes the issue

[2018-08-13 06:07] manju-ms commented on #470
After updating to 0.22.2 it is working fine. Thank you @machour.

[2018-08-13 06:07] #470 closed

[2018-08-13 08:10] schumannd commented on #403
Yes, I should have tested alternative ways of importing the module as well. Maybe we can find a way to enable both old and new import styles?

Maybe something like:
[code]
?

What import styles do break right now?

[2018-08-13 11:42] dluksza commented on #468
Can confirm that changing import did helped, as  @eshikerya pointed out. Thanks!

[2018-08-13 11:46] machour commented on #468
Would you mind sending a PR for the README?

[2018-08-13 15:47] peacechen commented on #403
Would testing for `module` be safer, or is that even necessary?
`module && module.exports = obj`

TBH I recommend supporting only `import` and drop support for `require`.  It's less maintenance hassle, and there's no compelling reason to support require in RN-land.

[2018-08-13 15:50] schumannd commented on #403
I agree. It is a breaking change in a minor version update, so OP of #468 has a point.

[2018-08-14 06:56] whiteMu commented on #434
@opp100 thanks，is work for me. and thanks all

[2018-08-14 21:31] joshdhenry commented on #419
Found out what this was.  It was a problem in my local code and unrelated to this package.

[2018-08-15 02:39] rayj10 commented on #325
Hi, I'm getting similar problem with build warning:
[code]
the first warning: not sure why it is still recognized as v25.0.2 though although there is already this bit on app level gradle:
[code]
I thought RN Device Info's gradle already checked if project has specified the buildtoolversions?

also, I'm complete noob when it comes to config like these, so just wanna make sure, if I change the `comp

[2018-08-15 06:54] pontusab commented on #468
You can also do:

[code]

But I think you should be able to destruct the import directly as before.

[2018-08-15 19:45] dwidc commented on #463
I also got the same problem recently. After hours of trials and errors (and hair pulling), turned out it's simply because of version mismatch between `'play-services-gcm'` and `'firebase-messaging'`.

I have `"com.google.android.gms:play-services-gcm:10.2.6"` set on app/build.gradle dependencies.
But I never set or include `'firebase-messaging'`, it's probably included implicitly by one of library

[2018-08-16 15:18] Mahaswami commented on #467
Basically it is either giving

1.00000019 OR 1.99999989. We don't get a decimal value like 1.1, 1.2 etc.

[2018-08-16 17:56] machour commented on #467
@IjzerenHein could you give this issue a look? :pray:

[2018-08-17 07:39] greyexpert commented on #475
Looks like the reason of this issue is in this commit:
https://github.com/rebeccahughes/react-native-device-info/commit/0a2c91fcaad32f9c7e748776975f47445441b3c4

It is not safe to replace
[code]
with
[code]

since it breaks backward compatibility

[2018-08-17 07:44] greyexpert commented on #475
To fix the issue, I had to replace this:
[code]
with this:
[code]

[2018-08-20 15:53] sfratini commented on #463
Can confirm that setting the googlePlayServicesVersion flag solved this for me too.

[2018-08-21 17:26] testshallpasswork commented on #215
I ran into some issues with the react-native-device-info-test repo. I will spin up a fresh react-native project to test then push changes. Sorry for delay.

[2018-08-22 08:14] machour commented on #351
No feedback provided.

[2018-08-22 08:14] #351 closed

[2018-08-22 08:15] machour commented on #450
No feedback provided.

[2018-08-22 08:15] #450 closed

[2018-08-22 08:15] machour commented on #452
No feedback provided.

[2018-08-22 08:15] #452 closed

[2018-08-22 08:16] #458 closed

[2018-08-22 09:41] memosize opened #479 "ibrary not found for -lRNDeviceInfo-tvOS"
## Summary

|             |     |
| ----------- | --- |
| Version     | ?0.21.5   |
| Affected OS | ?iOS   |
| OS Version  | ?  11.4 |

## Current behavior

## Expected behavior

[2018-08-23 10:44] hannigand opened #480 "getDeviceId() reporting back iPhone 10, when running on an iPhone 8S Plus"
Firstly, thanks for a great library.

## Summary

|             |     |
| ----------- | --- |
| Version     | ^ 0.21.5   |
| Affected OS | iOS  |
| OS Version  | 11.4   |

## Current behavior

When running my React Native App on iPhone 8s Plus and executing `getDeviceId()`, it returns `iPhone10,5`.

There seems to be a few anomalies (all running iOS 11.4):

|   Actual Device         |    Reported

[2018-08-23 11:40] hannigand commented on #480
I see, so `getDeviceId()` returns the _generation_ of the device, I didn't realise that there was also `getModel()` which reports back the value I had expected (X).

This can be closed off.

[2018-08-23 11:50] #480 closed

[2018-08-23 21:32] mpgigat commented on #187
The path of the files is too long. Try saving the project c: \ xx \ or d: \ xx

[2018-08-25 03:14] JslinSir opened #481 "IOS getIpAddress Display under Network."
it look like this
![image](https://user-images.githubusercontent.com/30678791/44614468-c2e1d000-a857-11e8-84c6-da2c6f6f8853.png)

But  under wifi it normal

And how  to get truIpAdress?

[2018-08-25 04:06] machour commented on #481
It's a promise, you need to use .then()
It will always return your local IP address, this is normal.
To get your external IP, try fetching http://whatsmyip.com or something similar

[2018-08-25 04:06] #481 closed

[2018-08-25 15:03] echap commented on #475
Can't make it work with 0.22.5, same message.

[2018-08-25 16:40] vmarquet opened #482 "library not found for -lRNDeviceInfo-tvOS : troubleshooting guide unclear"
From troubleshooting part in README:

[code]

I don't understand what  `Xcode -> [Your iOS build target]` is supposed to mean, like what buttons I'm supposed to follow. Please add a screenshot or details where the buttons are (navbar, ...)

[2018-08-25 16:43] Belal13ify commented on #395
i have the same problem, did you find any solution to this tarball data for react native problem?

[2018-08-28 02:27] MistyRain5 commented on #482
Remove the libRNDeviceInfo-tvOS.a from your project's Build Phases ➜ Link Binary With Libraries

[2018-08-28 22:40] SM-Wistful commented on #470
This is still an issue! I installed the latest version and it did not work on the simulator with the same error described above. I then attempted to revert to @0.22.2 and it still did not work.

[2018-08-28 22:42] SM-Wistful commented on #475
Same problem on the iOS simulator #470

[2018-08-30 09:31] baselbj opened #485 "Not working on Huawei"
Hi,

Some features, at least DeviceInfo.getModel(), is not working on Huawei.

any suggestions on how to solve this issue?

[2018-08-30 22:59] ethanneff opened #486 "0.22.5 broke typescript"
## Summary

0.22.5 broke Typescript.
https://github.com/rebeccahughes/react-native-device-info/pull/478/files

## Current behavior

[code]

## Expected behavior

Not throw an error.

[2018-08-31 06:59] xstable commented on #475
Didn't work for me... not the old way, and not the new one @greyexpert suggest.
So I do it the manual way with:
[code]

[2018-09-01 00:06] dbarner1 opened #487 "Add Android Manifest.permission.ACCESS_NOTIFICATION_POLICY?"
## Description
I've found no other react-native module that allows us to easily *read* the state of push notification grant access on android.  I thought `react-native-device-info` was perfect, as it seems in `RNDeviceModule.java` you're capturing other states in the device, like `Manifest.permission.READ_PHONE_STATE`.

Perhaps this would be a good location to fetch, and float the return of `Manif

[2018-09-01 12:00] guptahim2000 commented on #395
hi ,
is this problem solved?

[2018-09-04 15:58] nikuslas opened #488 "Device info returning : undefined is not an object"
### Summary
| Version (react-native) | 0.55.4 |
| Affected OS | Android Only |
| OS Version | Android 8.0 |

First of all, I installed react-native-navigation and react-redux.
| Version (react-native-navigation) | 1.1.484 |
| Version (react-redux) | 5.0.7 |

Afterwards, I installed react-native-device-info and followed all steps to link the lib (i did both, manually and automatically).
| Version (

[2018-09-04 15:59] to175 commented on #488
Please send your code.

[2018-09-05 10:13] lyseiha commented on #444
+1

[2018-09-05 10:42] supermanxiacheng commented on #471
same +1

[2018-09-05 11:05] schumannd commented on #355
When will this be merged? I can see the current behavior causing bugs for people, as it did for me.
Not only does the android `getUniqueID()` not produce a valid UUID like the iOS version does, it doesn't even reliably produce a 16 length hex. Some models (maybe even all?) drop leading zeroes. Sure, it was my fault for assuming it didn't do that, but I can see this happening to other people as wel

[2018-09-05 12:06] Ahmednagyyy commented on #488
@to175 send eh w arf eh el bata3a bayza

[2018-09-05 16:53] sam1463 commented on #215
@testshallpasswork any update on this?

[2018-09-06 09:03] alleniver commented on #488
hello,i have same issue,the follow code in ios simulator,android has well
import {getDeviceLocale} from 'react-native-device-info';
let lan = getDeviceLocale();

get this errors:
Unhandled JS Exception: (0, _reactNativeDeviceInfo.getDeviceLocale) is not a function. (In '(0, _reactNativeDeviceInfo.getDeviceLocale)()', '(0, _reactNativeDeviceInfo.getDeviceLocale)' is undefined)
2018-09-06 16:57:38.4

[2018-09-06 15:13] dihan commented on #462
My issue was that linking didnt work so did it manually

https://github.com/rebeccahughes/react-native-device-info#linking

[2018-09-07 13:35] timt commented on #488
Experiencing the same issue using RN 0.55.3 and react-native-device-info 0.22.5

Every method on DeviceInfo throws an `undefine d is not an object` exception

[2018-09-08 05:32] ximolang commented on #383
@rakafaProg hey, e did u solved this question? I'm going crazy...

[2018-09-08 13:44] luisggc commented on #465
you can find further instructions here:
https://facebook.github.io/react-native/docs/linking-libraries-ios

[2018-09-11 05:55] kunalkp opened #489 "TypeError: Cannot read property 'deviceName' of undefined"
Summary
| Version     | 0.22.5   |
| Affected OS | iOS   |
| OS Version  | 11.4.1  |

Current behavior
Declared the module like this :
import DeviceInfo from 'react-native-device-info';

Used 2 API
const deviceName = DeviceInfo.getDeviceName();
const uniqueID_android = DeviceInfo.getUniqueID();

Getting the following error:
TypeError: Cannot read property 'deviceName' of undefined
TypeError: Canno

[2018-09-11 06:52] #489 closed

[2018-09-12 05:01] zedtux commented on #260
For me the YellowBox is now showing this warning since I upgraded from RN 0.55.4 to 0.56.

[2018-09-12 16:01] agates4 commented on #228
For those searching for a solution, here is the solution for iOS TestFlight. I am unaware of any google play solution.

In your Xcode workspace, create a file `ProdChecker.h`
[code]

In your Xcode workspace, create a file `ProdChecker.m`
[code]

Those are the files needed to call the objective-c functions from react native. The function above will determine if the app is on the App Store or on Tes

[2018-09-13 15:27] tylerjbainbridge commented on #489
Did you find a solution for this?

[2018-09-13 19:47] sseppola commented on #488
I'm getting the same error, but for every single call (12 total). I'm basically doing:
[code]

I'm running it in a local development environment, but on my iPhone 8
[code]

[2018-09-14 09:10] kunalkp commented on #489
Somehow automatic linking didn't worked for ios. So, I had to manually link it to pods and it worked.

[2018-09-14 12:47] nfacha commented on #488
Same problem as described above happens here

[2018-09-14 15:29] iceagency-lukehopkins commented on #488
Same as above

![screen shot 2018-09-14 at 16 29 16](https://user-images.githubusercontent.com/41051284/45559815-63198c00-b83b-11e8-8e2d-9ac7677f448e.png)

[2018-09-14 17:02] zabojad opened #490 "undefined is not a function (evaluating '...._DeviceInfo.getUniqueID()')"
## Summary

[code]

And package.json:
[code]

## Current behavior

I run my app on an Android device with `react-native run-android`. And when crossing the first moment in the user experience when the code need to call `DeviceInfo.getUniqueID()`, I'm getting `undefined is not a function (evaluating 'reactnative_deviceinfo_DeviceInfo.getUniqueID()')`.

It was working before today. I haven't changed

[2018-09-14 22:00] nfacha commented on #488
@iceagency-lukehopkins Manual linking fixed the issue on Android too :smile:

[2018-09-17 12:49] zabojad commented on #490
OK, I simply solved it by changing `var reactnative_deviceinfo_DeviceInfo = require("react-native-device-info");` by `var reactnative_deviceinfo_DeviceInfo = require("react-native-device-info").default;`.

I don't get how this changed given that I did not update my npm modules and it was working before...

[2018-09-17 12:49] #490 closed

[2018-09-18 02:17] asd8855 opened #491 "iOS need to update for new iPhone?"

[2018-09-18 10:56] judemanutd commented on #450
Same issue here using
[code]

[2018-09-18 17:26] diegolmello commented on #427
This feature would be awesome after new devices being released :)

[2018-09-19 01:15] meiqi1992 opened #492 "Android dependency 'com.android.support:support-v4' has different version for the compile (26.1.0) and runtime (27.1.1) classpath. You should manually set the same version via DependencyResolution"
## Summary

|             |     |
| ----------- | --- |
| Version     | ?   |
| Affected OS | ?   |
| OS Version  | ?   |

## Current behavior

## Expected behavior

Android dependency 'com.android.support:support-v4' has different version for the compile (26.1.0)
and runtime (27.1.1) classpath. You should manually set the same version via DependencyResolution

  react-native 0.57.0
  gradle:3.1.4

[2018-09-19 07:42] tigranbalayan opened #493 "app support for new iPhone devices(iPhone XR, iPhone XS, iPhone XS MAX)"
iPhone new device models does not exist in deviceNamesByCode list (iPhone XR, iPhone XS, iPhone XS MAX)

[2018-09-19 15:06] hsunami10 opened #496 "getIPAddress() returns 0.0.0.0 when testing on a real device on cell service?"
Running DeviceInfo.getIPAddress() when testing through Xcode on a real iOS device returns "0.0.0.0" as an IP address when on cell service? All versions of everything are on the latest, and everything is correctly linked (manually)

[2018-09-20 02:12] truongluong1314520 opened #497 "build android fail because of 'compile' and 'implementation'"
## Summary

I simply write `npm install react-native-device-info` and `react-native link react-native-device-info`. Everything works like a charm until I run the `react-native run-android`. I cannot build the project because of this error:

_"Configuration 'compile' is obsolete and has been replaced with 'implementation' and 'api'.
It will be removed at the end of 2018. For more information see: h

[2018-09-20 06:13] jamninetyfive commented on #331
any new？getTotalDiskCapacity thx@machour

[2018-09-25 13:32] stage88 commented on #493
In RNDeviceInfo.m, find deviceNamesByCode dict and append these somewhere:

[code]

[2018-09-25 13:43] MelanieJourne commented on #488
I add the same error as you and was able to solve it by changing MainApplication.java as following

[code]

[code]

[2018-09-25 13:46] MelanieJourne commented on #475
I had the same problem on Android and was able to solve it by changing MainApplication.java like this
[code]

[code]

[2018-09-25 19:48] #493 closed

[2018-09-25 19:51] machour commented on #491
Done in #499

[2018-09-25 19:51] #491 closed

[2018-09-25 19:52] machour commented on #482
@vmarquet Feel free to send a PR adding the screenshot if you figured it out :)

[2018-09-25 19:53] machour commented on #485
Hi, what do you mean by not working ? Can you give some sample outputs ?

[2018-09-26 06:40] recepkocur commented on #497
+1

[2018-09-26 07:48] baselbj commented on #485
Thank for your replay ... I forgot this post and didn't update it with last information.

I find that  DeviceInfo.getModel() for Huawei only gets Model name in other devices it gets Brand name and model name.

I fixed the issue by creating this function:

const getDeviceModel = () => {
    let model = DeviceInfo.getModel();
    if (!model.startsWith(DeviceInfo.getBrand())) {
        model = `${Dev

[2018-09-26 08:52] ropy commented on #462
Importing instead of requiring worked for me.

[code]

[2018-09-26 08:54] ropy commented on #488
Importing instead of requiring worked for me.

~~let DeviceInfo = require('react-native-device-info');~~

[code]

[2018-09-26 11:18] riskaverse commented on #137
DeviceInfo is an object which includes "default" object so, in order to access the function getUniqueID() you need to do something like this DeviceInfo.default.getUniqueID()

[2018-09-26 11:19] riskaverse commented on #468
DeviceInfo is an object which includes "default" object so, in order to access the function getUniqueID() you need to do something like this DeviceInfo.default.getUniqueID()

[2018-09-26 20:28] peterdev6 opened #501 "getDeviceLocale returning invalid language code for France"
## Summary

|             |     |
| ----------- | --- |
| Version     | latest   |
| Affected OS | ios   |
| OS Version  |  11.4.1  |

## Current behavior

Set the device language to be French(France) and `DeviceInfo.getDeviceLocale()` returns `fr-US`

## Expected behavior
Should get `fr-FR` instead of `fr-US`

[2018-09-27 00:11] io-pan commented on #492
This as well:

(nothing in subprojects)
[code]

even better since with previous answer I had
[code]

[2018-09-29 02:41] alacret commented on #365
unable to solve this error:

[code]

tried:

1. project gradle:
[code]
2. app gradle
`def googlePlayServicesVersion = project.googlePlayServicesVersion`
3. gradle properties file:
`googlePlayServicesVersion=15.0.1`
4. Change the version directly in node_modules/react-native-device-info/android gradle file

None of this has work so far, this are my gradle files:

APP GRADLE:

[code]

PROJECT GRADLE

[2018-09-29 03:09] alacret commented on #434
Still a big problem for me :'(

https://github.com/rebeccahughes/react-native-device-info/issues/365#issuecomment-425609406

[2018-09-29 03:38] supermanxiacheng commented on #471
I set PATH in .bash_profile to debug problem with gradle.
export GRADLE_HOME=/Applications/Android\ Studio.app/Contents/gradle/gradle-4.1
export PATH=${PATH}:${GRADLE_HOME}/bin

Then this gradle error disappear.
I don`t know what happen ...Maybe Android Studio need Path of gradle.

[2018-09-29 17:38] alacret commented on #365
I had to delete everything and start from scratch ejecting the application, it was a version problem, i think that the support for the Build Tools 28, Google Services and Gradle Build Tools is not yet complete, this is my working configuration:

android/app/build.gradle
[code]

android/build.gradle
[code]

[2018-09-29 17:39] alacret commented on #434
Solved like this:

https://github.com/rebeccahughes/react-native-device-info/issues/365#issuecomment-425609406

[2018-10-01 02:53] jbrumwell commented on #470
Having similar issue as well in an emulator, `TypeError: Cannot read property 'uniqueId' of undefined at Object.getUniqueID`

[2018-10-01 11:01] hannigand commented on #331
Any progress on this? `getFreeDiskStorage` and `getTotalDiskCapacity` are both returning negative numbers.

Device: OnePlus 3
OS: OxygenOS Version 5.0.5
Android Version: 8.0.0

[2018-10-01 14:49] katieisnell commented on #331
I am also having this issue with both `getFreeDiskStorage` and `getTotalDiskCapacity` on emulators and my phone

Device: Pixel 2
Android version: 8.1.0

and also on

Device: OnePlus 3T
OS: OxygenOS 4.5.1
Android vers: 7.1.1

My Pixel is 1GB with 100MB external storage but `getFreeDiskStorage` gives me 576454656
and `getTotalDiskCapacity` is -1694711808.

[2018-10-03 07:08] rafbc opened #502 "[!] Unable to find a specification for `React` depended upon by `RNDeviceInfo`"
## Summary

|             |     |
| ----------- | --- |
| Version     |  0.22.6  |
| React Native | 0.56 |
| macOS Version  | High Sierra   |

## Current behavior

I followed the instructions, ran `react-native link`, then went to do a `pod install` inside the ios folder and i'm getting the following error

[code]

## Expected behavior

No error?!

[2018-10-03 15:53] lebronjl commented on #471
Same error here

[2018-10-04 14:15] demarchisd opened #503 "Where does appVersion come from?"
Hey! Actually this is not a bug (I think), just need some help to understand what's going on.

In my `package.json` file I have the `version` attribute set to `0.0.1`.

However, when I use the `DeviceInfo.getVersion()` function, it returns me the value `1.0` instead of `0.0.1` in both Android and iOS.

Is that correct? Am I missing some configuration to get these values mirrored?

[2018-10-04 16:18] demarchisd commented on #503
So, I've realised that the library gets this value from `build.gradle`(Android) and `info.plist` (iOS).

For anybody who might be interested, this [article](https://medium.com/@andr3wjack/versioning-react-native-apps-407469707661) explains a great way to keep these versions synchronised.

[2018-10-04 16:18] #503 closed

[2018-10-05 05:36] ramavadhmaurya commented on #384
Change your app/build.gradle dependencies to look like this:

dependencies {
...
compile(project(':react-native-device-info')) {
exclude group: 'com.google.android.gms'
}
}

and then go to cd android
clean your gradlew file
and come back to your root directory and then run your application.
It is working for me :)

BR,
Ram Avadh Maurya

[2018-10-05 05:38] ramavadhmaurya commented on #152
Change your app/build.gradle dependencies to look like this:

dependencies {
...
compile(project(':react-native-device-info')) {
exclude group: 'com.google.android.gms'
}
}

and then go to cd android
clean your gradlew file
and come back to your root directory and then run your application.
It is working for me :)

BR,
Ram Avadh Maurya

[2018-10-05 07:20] jmcginty opened #505 "Does not support React Native Windows v0.57"
## React native windows has increased the minimum target version, and this causes compile time errors if associated projects are targeting a lower version.

|             |     |
| ----------- | --- |
| Version     | 0.22.6   |
| Affected OS | Windows   |
| OS Version  | 10   |

## Current behavior

React Native Windows has changed it's minimum target version to 10.0.14393, so it will not compile.

[2018-10-05 18:32] alexgomezalanis opened #506 "getModel for iPhone XS"
## Summary

|             |     |
| ----------- | --- |
| Version     |  0.21.5  |
| Affected OS | iOS  |
| OS Version  | 10.12  |

## Current behavior

DeviceInfo.getModel() only returns "iPhone" when using an iPhone XS

## Expected behavior

The expected behaviour would be to return "iPhone XS"

[2018-10-05 18:39] alexgomezalanis commented on #506
This is resolved in version 0.22.6

[2018-10-05 18:39] #506 closed

[2018-10-05 20:57] kgstew commented on #505
I'm having the same issue. I was able to work around it by updating `<TargetPlatformMinVersion>10.0.10586.0</TargetPlatformMinVersion>` in `RNDeviceInfo.csproj` to 10.0.14393.

[2018-10-07 15:51] faizulhadijamil opened #508 "react-native-device-info cannot run in android"
when I run the react-native run-android, I receive this error
<img width="566" alt="screen shot 2018-10-07 at 11 50 18 pm" src="https://user-images.githubusercontent.com/33046264/46583562-cc339e80-ca8b-11e8-8ea5-4b058c17aa6f.png">
Anyone having this problem? its only happen in android,
I use react-native version 0.52.3

[2018-10-08 01:47] #434 closed

[2018-10-08 04:00] feadrick opened #510 "undefined is not an object"
## Summary

|             |     |
| ----------- | --- |
| Version     | 0.24.0 |
| Affected OS | android   |
| OS Version  |  windows 8.1  |

## Current behavior
undefined is not an object (evaluating 'RNDeviceInfo.brand')

## Expected behavior

[2018-10-08 10:45] zsaraf commented on #508
I'm having the same issue.

[2018-10-08 11:17] machour commented on #508
Hi, please follow the instructions in the error message in order to provide us with more logs about the issue.

[2018-10-08 11:41] kashishgrover opened #511 "Detect Soft Navigation Keys in Android"
## Description

Implement something like `DeviceInfo.areSoftwareKeysEnabled()` or `DeviceInfo.hasSoftNavigationKeysEnabled()` to detect whether software keys are enabled in an android device.

## Use Case

To detect whether a device has hardware keys enabled or software keys enabled. This can be a bit of an issue when it comes to designing for all kinds of devices. These days with the advent of no

[2018-10-08 13:06] HighSoftWare96 commented on #303
I've solved the problem by doing:
1. Removed the line referring the package in the PodFile
2. Run 'pod install' in the /ios folder
3. npm install --save react-native-device-info
4. react-native link react-native-device-info
5. npm install
6. npm start -- --reset-cache
7. Compiled and run on Xcode

[2018-10-08 13:58] bonbonez commented on #471
Got the same problem after switching to RN .57 and gradle-4

[2018-10-08 14:27] mreorhan opened #512 "Package Not Working in Expo Api"
I installed the package but, functions not working in expo apis.

[2018-10-08 15:00] ryodoo commented on #512
I have the same problem

[2018-10-08 15:20] Jahans3 opened #513 "iPhone XS etc support"
## Summary
Not detecting iPhone XR, XS, XS Max on simulator. I am not sure if this is simulator-specific since I don't have access to any of the newer phones.

I have seen #499 but assuming that is working on devices it is currently not working on simulators.

| ----------- | --- |
| Version     |  0.24.0 |
| Affected OS | iOS  |
| OS Version  | 12  |

## Current behavior
Instead of `DeviceInfo.ge

[2018-10-08 15:53] machour commented on #513
Hey @duro, could you possibly have a look at this?

[2018-10-09 11:42] kapil708 commented on #398
also work for me thanks

[2018-10-09 16:17] tclarke-scottlogic opened #515 "Can't install into an existing project, double installs React"
## Summary
Installed into an existing "ejected" project that had react-native at the node_modules level via `yarn install`

When I ran pod install, it added RNDeviceInfo, but also React.

When I then

| Version     | 0.24   |
| Affected OS | iOS   |
| OS Version  | 12.0  |

## Current behavior
[code]
It installs RNDeviceInfo, but also React as a dependency?

yarn ios

System fails with:

[code]

#

[2018-10-09 17:11] ryodoo opened #516 "Android permission READ PHONE STATE"
Hi i have this problem how i can resolve it please
![screenshot_20181009-180630](https://user-images.githubusercontent.com/9296498/46685988-bd193180-cbee-11e8-8da4-ac2cf63a7c2a.jpg)

[2018-10-10 07:50] tclarke-scottlogic commented on #515
Solution:
I didn't need to run `react-native link react-native-device-info`

[2018-10-10 08:04] Tom29 commented on #236
after relinking and still doesn't work.

[2018-10-10 08:36] machour commented on #516
Salam aleykom

You have to add the mentioned permission to your Android Manifest XML file

[2018-10-10 08:37] machour commented on #512
Please use the template provided to fill an issue, give us some logs, etc.

[2018-10-10 08:37] #512 closed

[2018-10-10 09:38] tclarke-scottlogic commented on #502
I get a different, but related problem:
https://github.com/rebeccahughes/react-native-device-info/issues/515

[2018-10-10 09:47] noomorph opened #517 "require('react-native-device-info') import is too long and synchronous"
## Description

At the moment, the first `require('react-native-device-info')` call takes around 200-600ms on Android emulator (in a non-minified debug mode, depending on a configuration and luck). Below is the treemap (produced by an internal tool) of `require()` timings (how long each `require(modulename)` takes). All this happens synchronously:

![screen shot 2018-10-09 at 7 28 29 pm](https://u

[2018-10-10 11:05] ryodoo commented on #516
Wa aleykom asalam
i have add myapplication\android\app\src\main\AndroidManifest.xml i add  <uses-permission android:name="android.permission.READ_PHONE_STATE" />

Chokrane for your help

[code]

[2018-10-11 08:17] jamninetyfive commented on #331
@knot123 thx

[2018-10-11 10:01] JDJBSPL commented on #384
Worked for me too..

[2018-10-11 10:16] Flavien commented on #508
Also having the same issue since yesterday.

[2018-10-12 06:00] tapz commented on #497
"It will be removed at the end of 2018."

[2018-10-12 09:11] tclarke-scottlogic commented on #502
Try this, hope it helps!
https://stackoverflow.com/questions/52737251/how-do-i-prevent-react-native-device-info-causing-react-ambiguity-on-my-setup/52776146#52776146

[2018-10-12 09:11] tclarke-scottlogic commented on #515
Fixed my problem thus:
https://stackoverflow.com/questions/52737251/how-do-i-prevent-react-native-device-info-causing-react-ambiguity-on-my-setup/52776146#52776146

[2018-10-12 09:11] #515 closed

[2018-10-12 14:01] ziyafenn commented on #139
I believe this issue shouldn't be closed as device country shouldn't be based on locale. On android, the country is based on Google accounts country. This needs to be fixed.

[2018-10-12 14:11] tclarke-scottlogic commented on #513
This doesn't match my experience inside simulators....
![screen shot 2018-10-12 at 12 23 17 2](https://user-images.githubusercontent.com/35029405/46874419-0a84e100-ce31-11e8-8ad1-db92bb228cd4.png)

[2018-10-12 15:31] #513 closed, assigned to nobody

[2018-10-15 06:04] noomorph commented on #517
@machour, could you tell me your stance on the idea of rewrite suggested in tl;dr above, please? Thanks in advance!

[2018-10-15 17:15] tuananhluong commented on #471
I can build success. Open **build.gradle** and right after the apply plugin: **'com.google.gms.google-services'** add bellow can work around the issue.

[code]

[2018-10-16 03:12] hpmax00 commented on #236
same problem with 0.55.4

[2018-10-16 05:15] hpmax00 commented on #236
It is ok, after rnpm link

[2018-10-16 07:43] ventr1x commented on #470
Same issue here on ios simulator

[2018-10-16 14:42] cyb3rsalih commented on #260
Warning still there.   `React Native 0.57.3`

[2018-10-16 14:53] kobi963 commented on #325
any update on this one?

[2018-10-16 15:18] ou2s opened #519 "getUniqueId is not unique is some cases in iOS"
Hello,

Some of our users experienced an issue with the ID that we retrieved via `getUniqueId()`: they have  the same ID across two different devices.

We found a way to reproduce the problem: if a user uses the same Apple ID across two devices and has used iCloud to restore a backup from one device to another, `getUniqueId` return the same string.

We are thinking about forking the library and re

[2018-10-18 09:30] borgogelli commented on #510
+1

[2018-10-18 22:14] JackHull commented on #510
+1

[2018-10-19 03:14] markoliverbrawn commented on #510
I'm also getting this - for any method called (on version 0.22.2). Not sure if it's important, but I'm using the Android emulator.

[2018-10-19 10:31] JackHull commented on #510
Got this fixed by linking, and then re-buildinf the app.

[2018-10-21 02:03] ddaaggeett commented on #492
@io-pan's suggestion is perfect. i believe this issue is good to close.
`~/android/build.gradle`
[code]

[2018-10-21 08:30] kaixiniOSTT commented on #395
not solved

[2018-10-22 16:04] machour commented on #497
Removed in 0.24.1

[2018-10-22 16:04] #497 closed

[2018-10-22 16:06] machour commented on #485
Well, ¯\_(ツ)_/¯

Feel free to open a PR if you want to address this for Huawei phones, closing this issue since you found a workaround.

[2018-10-22 16:06] #485 closed

[2018-10-22 16:11] machour commented on #519
Hi Oussema :)

Not sure on why the mechanism was implemented, maybe it was meant to make sure the Uid stays the same (https://stackoverflow.com/questions/31344173/uidevice-currentdevice-identifierforvendor-can-this-change-on-an-ipad#answer-31344503)

Feel free to fork this project and adapt it to your needs, or better yet, submit a PR to solve this.

[2018-10-22 16:16] machour commented on #517
Hi @noomorph and thank you for your proposal!

This is something I meant to do for a new BC breaking release (#307) but I've been quiet busy on other projects.

I would be more than happy if you could check the ideas I laid out and tell me what you think.
The idea is to make as much breaking changes as possible (renaming, etc) before publishing v1.0.0

Cheers!

[2018-10-22 16:29] machour commented on #516
Sorry I've been quiet busy lately. Have you managed to solve this? I don't see why this would not work.

[2018-10-23 12:51] #151 closed

[2018-10-23 12:56] machour commented on #505
Fixed in 0.24.3 by @jmcginty

[2018-10-23 12:56] #505 closed

[2018-10-23 12:57] machour commented on #151
Fixed in 0.24.3 by @jmcginty, please open a new issue if you're still having problems.

[2018-10-23 15:08] gabriellacerda commented on #414
@vitrum you did it!

[2018-10-23 18:16] mmccartney commented on #508
I've seen this related to other projects.  I'm pretty sure it's a compatibility issue with `appcompat` library.  Make sure your `supportLibVersion` matches across your entire project.  Easiest way to do this is to use the `ext` convention recommended in the **Manual > Android** section [here](https://github.com/rebeccahughes/react-native-device-info#linking).

Hope this helps!

[2018-10-23 18:46] mmccartney commented on #488
Like @nikuslas , I am also using `react-native-navigation`.

I had the same problem as many others (i.e. `import DeviceInfo from 'react-native-device-info'` was returning `undefined`) but after reading all these comments, I figured out what was going wrong.

If you start your project with `react-native init`, you will have a `MainApplication.java` with a `getPackages()` method that is part of the

[2018-10-23 18:59] mmccartney commented on #462
Is this Android or iOS or both?  If it's only on Android, maybe this is your fix?
https://github.com/rebeccahughes/react-native-device-info/issues/488#issuecomment-432372215

[2018-10-24 09:20] viv3kk commented on #260
Warning still there. React Native 0.57.3

[2018-10-24 12:46] lucassus opened #522 "Library failed to compile for Android after upgrade to react native 0.56.0"
## Summary

|             |     |
| ----------- | --- |
| Version     | 0.24.3   |
| Affected OS | Android   |
| OS Version  | osx   |

## Current behavior

After I upgraded my app to react-native 0.56.0 I'm not able to compile it for Android platform.
It worked fine before and I'm 100% sure that the library is properly linked.
My current configuration could be found here (package.json, build.grad

[2018-10-24 13:21] machour commented on #522
Hi, the error message do seems to say that there's a problem with linking.
Did you dry linking again, resetting your cache, removing and reinstalling node_modules, and cast some druidic spells like that ?

[2018-10-24 13:30] lucassus commented on #522
I've tried everything and I ran out of all my mana ;)

But it seems that change

[code]

to

[code]

...fixes the issue.

[2018-10-24 13:36] machour commented on #522
Oh, sorry for the inconvenience. This was changed in 0.24.1

You can find the motivations in this PR: https://github.com/rebeccahughes/react-native-device-info/pull/520. Shall I cast rollback ? 🤔

[2018-10-24 13:41] lucassus commented on #522
I'm not sure how it will affect other RN versions.
For now I casted downgrade `"react-native-device-info": "^0.23.0"` in my package.json
Thank you for help!

[2018-10-24 13:48] #522 closed

[2018-10-24 21:15] dozel opened #523 "Implementation issue in v0.24.3"
## Summary

| ----------- | --- |
| Version     |  0.24.3 |
| Affected OS | android   |
| OS Version  | mac v10   |

## Current behavior
Building android project quickly fails with:
Error:(29, 1) A problem occurred evaluating project ':react-native-device-info'.

## Expected behavior
I expected the android project to build.

I saw some of the PRs that went into making sure RN .57 would work with t

[2018-10-25 04:56] jchavannes commented on #383
I know iOS comments were removed, but there are only two search results for this error:
[code]

For anyone that is still running into this issue on iOS, this command fixed it for me:
[code]

[2018-10-25 08:14] sonicdoe commented on #523
Which version of the Android Gradle plugin are you using? `implementation` (instead of `compile`) is only available in v3.0.0 and later.

[2018-10-26 15:40] Jobeso commented on #488
I encountered the error on iOS and fixed the error by changing the import from destructured

[code]

to a default import

[code]

and used it with `DeviceInfo.getModel()`

[2018-10-29 03:14] dozel commented on #523
You were right, thank you!

[2018-10-29 03:14] #523 closed

[2018-10-29 07:52] tonmanayo opened #527 "FingerprintID || FaceID detection"
## Description

Check if the device has Fingerprint or FaceID capabilities

## Use Case

It would help significantly if we were able to make these queries and react to the responses.
Currently there is a library called react-native-touch-id which allows you to implement faceID or touchID but you can't check the responses on android if the device has face ID or touch ID you just get a response of t

[2018-10-29 08:48] WowJesse commented on #378
your way no error, but getVersion get error

[2018-10-29 23:46] alvelig opened #531 "XR|XS* models show wrong result on getModel and hasNotch"
## Summary

|             |     |
| ----------- | --- |
| Version     |  v0.24.3   |
| Affected OS | iOS  |
| OS Version  | v12.0  |
Tested on simulator iPhone XR

## Current behavior
[code]
## Expected behavior
[code]

[2018-10-30 07:16] roysG commented on #236
Same problem

[2018-10-30 08:40] machour commented on #236
Please don't comment on closed issues. Open a new one a follow the template to give us all details.

[2018-10-30 08:43] machour commented on #531
Hi,

The collection of phones with notches is here:
   https://github.com/rebeccahughes/react-native-device-info/blob/master/deviceinfo.js#L12

And the detection occurs here: https://github.com/rebeccahughes/react-native-device-info/blob/master/deviceinfo.js#L210

Could you show us the output of DeviceInfo.getBrand() ?

[2018-10-30 13:15] alvelig commented on #531
Thanks for the quick reply! Here's the output:
<img width="313" alt="screen shot 2018-10-30 at 10 13 01 am" src="https://user-images.githubusercontent.com/4231544/47720451-ab92da80-dc2c-11e8-924f-f910190214fe.png">

The problem occurs here: https://github.com/rebeccahughes/react-native-device-info/blob/master/ios/RNDeviceInfo/RNDeviceInfo.m#L145

Thus getModel returns "iPhone" and `hasNotch` detec

[2018-10-30 14:34] ingviso opened #532 "TypeError:Deviceinfo.getBrand is not a function"
When using react-native-device-info on my Mac I run into TypeError: Deviceinfo.getBrand is not a function. This issue comes up on both android and ios This does not happen on a pc running an android.

## Summary

Runnning this on a mac with MacOs Mojave and Xcode 10 and Android Studio 3.2.1 (with ndk r17c)

| Version     | 0.24.3   |
| Affected OS | ios and android   |
| OS Version  | 0.55.2  |

#

[2018-10-30 15:35] machour commented on #532
How do you load the library in your script ?
Could you show some code?

[2018-10-30 15:44] ingviso commented on #532
Just found out what the issue was, it because I was requiring the package instead of importing it. It has always worked requiring before and that works on my coworkers pc for some strange reason this was the reason for the bug.

Changed
const DeviceInfo = require('react-native-device-info');
to
import DeviceInfo from 'react-native-device-info';

[2018-10-30 15:44] #532 closed

[2018-10-31 13:38] karaoak commented on #260
Warning still there. React Native 0.57.4

[2018-10-31 15:40] alvelig commented on #531
Sorry, my fault with the linking.
I removed and added again RNDeviceInfo.xcodeproj to Libraries and it worked.

[2018-10-31 15:40] #531 closed

[2018-11-01 20:46] kotarCreative commented on #303
@machour Is there an ETA on when this is going to be fixed? React 11 is deprecated and breaks the build.

[2018-11-01 20:49] machour commented on #303
@kotarCreative I'm not a pod user so I won't be the one who fixes this problem. Feel free to send a PR addressing the issue!

[2018-11-02 10:15] NelGarbuzova commented on #488
Same here. I solved this by replacing all
`var DeviceInfo = require('react-native-device-info');`
with
`import DeviceInfo from 'react-native-device-info';`

[2018-11-02 14:38] ahmetabdi commented on #260
:( same

[2018-11-02 15:07] SteFF1997 commented on #445
it helped me but i'm not sure what is right
react-native-device-info/src/main/java/RNDeviceModule
![2018-11-02 5 04 41](https://user-images.githubusercontent.com/14296974/47923194-689d6500-dec1-11e8-82d2-094ae121ef7d.png)

[2018-11-02 16:18] lefloh commented on #399
Does this mean that a user may become the same ID on a new device if he restores a backup from an other device (if the keychain is part of the backup)?

[2018-11-03 06:44] kirill-konshin commented on #228
Bump...

[2018-11-03 07:40] machour commented on #228
@kirill-konshin I'm not sure what you're expecting from this bump.. you could submit a PR instead.

[2018-11-03 07:45] kirill-konshin commented on #228
I expect that 1 year old issue will be brought to your attention :) which could be annoying but that's the best I could do now. If I could do a PR I would do it in a first place  :) unfortunately, I don't know the right solution, especially for Google Play.

[2018-11-03 07:49] machour commented on #228
Well, that makes two of us :)

[2018-11-05 08:54] NelGarbuzova commented on #532
Have this too. By strange way, few days ago require stopped to work correctly, but always worked before.

[2018-11-07 10:49] Wuguanghua commented on #523
my geadle version is 2.14 ，as @sonicdoe said: implementation (instead of compile) is only available in v3.0.0 and later.
so i can not ues this solution .

my solution:
 1.  go to file `/node_modules/react-native-device-info/android/build.gradle`
 2. Replace `implementation` with `compile`

before:

<img width="752" alt="2018-11-07 5 53 19" src="https://user-images.githubusercontent.com/28554105/48

[2018-11-07 10:52] machour commented on #523
Or stick to 0.24.2 :)

[2018-11-07 21:56] TripledT opened #534 "Add Pixel 3 XL to list of Notch devices"
## Summary
| Affected OS | Android   |

## Current behavior

on Pixel 3 XL hasNotch() return false

## Expected behavior

it should return true

[2018-11-09 09:56] roysG opened #536 "Problem with galaxy s3 device"
I have customers with galaxy s3 android version 4. 1.2 and they have problem, i do not know exactly what the errors.

Does your library should support this version?

I use the functions getuniqueid and getSerial

[2018-11-09 10:55] machour commented on #536
Yes, it should work fine unless proven otherwise.

[2018-11-09 10:55] #536 closed

[2018-11-13 12:19] antoinerousseau commented on #517
any update on this?

[2018-11-13 12:44] noomorph commented on #517
@antoinerousseau, alas, not yet. 😕

I'd be happy to start working on this, but to my utmost regret, this particular task is only one from many in my scope of improving the performance of our React Native app. There are a couple of more significant bottlenecks (e.g., missing unbundling in the build step) there, so I can't shift my priorities towards this issue.

In any case, I don't reserve any exc

[2018-11-15 12:18] dineshlt commented on #462
I am getting this same issue **undefined is not an object (evaluating 'RNDeviceInfo.uniqueId')**. its working fine in android and successfully getting unique id. But in IOS only am getting this error.

Kindly give need full suggestion

[2018-11-15 20:26] vdlindenmark opened #538 "Version 0.25 issn't uploaded to NPM"
Release 0.25 issn't uploaded to NPM jet

[2018-11-19 03:55] christianscheuer commented on #510
@JackHull by linking you mean `react-native link react-native-device-info`?
That doesn't solve it for me. Anyone else who knows why this happens?

[2018-11-20 05:50] GitHubGreg commented on #510
I'm also having this problem. I am using Expo SDK 29.

[2018-11-20 10:53] CCLeonLee opened #540 "isPinOrFingerprintSet()"
isPinOrFingerprintSet()： no FingerprintSet callback true?

[2018-11-20 19:06] MattyK14 commented on #448
@InteliCare what was your resolution?

[2018-11-20 21:50] ryodoo commented on #516
I have migrate to ionic :s

[2018-11-21 13:57] mxhryvo commented on #444
same for me.
using react-native: 0.55.4 and react-native-device-info 0.24.3

[2018-11-21 15:05] nadzic opened #542 "isEmulator does not work with rn 57.4"
## Summary

|             |     |
| ----------- | --- |
| Version     | ^0.24.3   |
| Affected OS | iOS   |

## Current behavior

undefined isEmulator when running on emulator.

## Expected behavior

it should return true/false.

[2018-11-23 18:03] Dezainer commented on #462
After you guys installed it and executed the `react-native link`, try to rebuild the app so it applies the native code changes, it may work.

[2018-11-26 02:26] MickeyMouse623 opened #543 "Running Errors on Windows Platform"
![image](https://user-images.githubusercontent.com/18524460/48989549-b24a3a00-f165-11e8-99a2-c6fb118e944d.png)

[2018-11-26 14:23] sanjay250493 opened #544 "Hi i am using the axios.post for making the post service call Here is the code of my service call axios.post('http://xxxxxxx', { sol_id: 'xxxxx', sol_version: 'xxxx' }) .then(res => { console.log(res); console.log(res.data); }) but i am getting the server response as like this 'Possible Unhandled Promise Rejection' 'Error:Network Error' can any one help me to solve this issue but it is working fine in postman"
## Summary

|             |     |
| ----------- | --- |
| Version     | ?   |
| Affected OS | ?   |
| OS Version  | ?   |

## Current behavior

## Expected behavior

[2018-12-04 10:40] Damoness commented on #159
thanks

[2018-12-06 22:50] garrettboatman commented on #234
Had is issue. `react-native link` didn't work.

Fixed it by dragging `RNDeviceInfo.xcodeproj` into my Xcode Libraries, went to `[My Target] > Build Phases > Link Binary with Libraries` and added `libRNDeviceInfo.a`

[2018-12-07 09:50] jiaxw32 commented on #228
the  appStoreReceiptURL of  ad-hoc or dev app also contains '"sandboxReceipt" string, so there is a little falut, refer to the answer https://stackoverflow.com/questions/18282326/how-can-i-detect-if-the-currently-running-app-was-installed-from-the-app-store/18619270

[2018-12-07 22:37] #538 closed

[2018-12-07 22:38] vdlindenmark commented on #544
Please use the title for a title and the description for a description...
The error is clear: "Error:Network Error" ;-) There's an error with the connection to the server.

[2018-12-11 12:33] #544 closed

[2018-12-11 18:38] mlaco commented on #234
@garrettboatman sorry if I should know this, but where can I obtain `libRNDeviceInfo.a`?

[2018-12-12 15:47] julienJean99 opened #551 "Execution failed for task ':app:preDebugBuild'."
## Summary

|             |     |
| ----------- | --- |
| Version     | 24   |
| Affected OS | android   |

when i instaled react-native-devise-info i did:

`npm install react-native-devise-info
react-native link react-native-devise-info`

i tryed using

`implementation ("com.google.android.gms:play-services-basement:15.0.1") {force = true;}`

then ./gradlew :app:dependencies ask me for the follow

[2018-12-13 17:36] JoeM-RP commented on #510
I was able to get around this by following the [manual linking steps (without cocoapods)](https://github.com/rebeccahughes/react-native-device-info#manual) outlined in the README, copied here for convenience.

In XCode, in the project navigator:
- Right click the _Libraries_ folder
- Add Files to [your project's name]
- Go to node_modules/react-native-device-info
- Add the .xcodeproj file

In XCod

[2018-12-13 19:21] garrettboatman commented on #234
@mlaco it should be added to Xcode automatically when you drag in `RNDeviceInfo.xcodeproj` from `node_modules`.

[2018-12-14 10:20] MingFaiYau opened #552 "how to merge phonegap uuid to react native?"
Dear all,

I have an old App write by phonegap and using device.uuid to get the uuid.
Now, we are going to rewrite with react-native , but i find that the uuid of phonegap is different with android.

anyone have idea how to merge them?
Thanks.

[2018-12-17 07:54] shafqatsiddiqui commented on #299
delete the build folder in android build folder build it again

[2018-12-17 11:33] Foohx commented on #551
Hi @julienJean99

Just add **googlePlayServicesVersion = "15.0.1"** in the **ext** part of you **build.gradle**.

👍

[2018-12-17 11:35] #551 closed

[2018-12-19 07:38] vinayan3 commented on #325
I'm also experiencing issues with aborting on a lint error for missing permissions. For the app I am building I do not want to request those permissions without needing them. The patch I have added to `android/build.gradle` is
[code]

[2018-12-19 11:35] harikanammi commented on #424
Please downgrade the **device-info** version to npm install `react-native-device-info@0.11.0`. This is worked for me.

[2018-12-23 13:48] rotemmiz commented on #517
Hey @machour,
The main culprit in both iOS and Android is the way `react-native-device-info` gets a hold of the webview user agent string.

On Android `WebSettings.getDefaultUserAgent(this.reactContext)` takes 200-500ms, depending on the device CPU. This blocks the `mqt_native_modules` thread from doing any other native module processing during that time.

On iOS, `[[UIWebView alloc] initWithFrame

[2018-12-24 08:20] liuqiiiiiii commented on #258
`
ld: library not found for -lRNDeviceInfo-tvOS

clang

: error: linker command failed with exit code 1 (use -v to see invocation)

** BUILD FAILED **

The following build commands failed:
        Ld /Users/a11/Componey/javashop-react_native/ios/build/Build/Products/Debug-iphonesimulator/javashop.app/javashop normal x86_64
(1 failure)

Installing build/Build/Products/Debug-iphonesimulator/javashop

[2018-12-24 08:20] liuqiiiiiii commented on #258
I'm in terrible shape here!

[2018-12-25 06:35] suwu150 opened #553 "how to increase the judge whether root or mobile phone jailbreak function"
how to increase the judge whether root or mobile phone jailbreak function

[2018-12-25 09:36] suwu150 opened #554 "wish set android:exported="false" , OK??"
## Summary
[code]

the device is android,i wish set android:exported="false".

## Current behavior
[code]
## Expected behavior

[code]

[2018-12-31 06:11] jariwalabhavesh opened #556 "hasNotch() is not working properly."
## Summary
hasNotch() is not working properly. I am getting hasNotch() value true in iphoneX but in Iphone Xs Max it is giving false. It should return true for all the latest iphones notch devices.

| Version     | 0.24.3   |
| Affected OS | IOS   |
| OS Version  | 12.1   |
| React-Native | 0.55.1 |
## Current behavior

hasNotch() is giving false in iphone Xs Max.

## Expected behavior

hasNotch()

[2019-01-02 09:11] antoinerousseau commented on #307
Hoping to see #517 in v1.0 :)

[2019-01-02 11:30] janhesters commented on #446
I tried `pod install` and it doesn't work.

[code]

But it is in my pods:
<img width="694" alt="screenshot 2019-01-02 at 12 29 05" src="https://user-images.githubusercontent.com/31096420/50590165-0ee9f480-0e8a-11e9-964a-89b31b6e0dd7.png">

And it's linked:

<img width="682" alt="screenshot 2019-01-02 at 12 29 52" src="https://user-images.githubusercontent.com/31096420/50590190-26c17880-0e8a-11e9-8

[2019-01-02 14:55] lapto commented on #556
Try running DeviceInfo.getDeviceName() and check if the device name is different than "iPhone XS Max".  There is a custom version of MAX and XR for the Asia Market that might have a different deviceName.

Heres the list of devices that hasNotch() will return "true" on

https://github.com/rebeccahughes/react-native-device-info/blob/65374808dc8aea1d6b989927a8f42c4732eaab60/deviceinfo.js

[2019-01-03 12:21] iyogeshjoshi commented on #488
I think document needs to be updated `react-native link react-native-device-info` doesn't link libraries to project, you need to manually add them here are the steps:

* right click on `Libraries` > `Add files to <app name>`
* select `RNDeviceInfo.xcodeproj`
* select `Copy items if needed` and add
* then under `Linked frameworks and libraries` add `libRNDeviceInfo.a`

build and run, it worked for

[2019-01-04 06:46] jariwalabhavesh commented on #556
@lapto : getDeviceName is giving **iPhone XS Max**
Now i am receiving hasNotch : **true**

I think there was an issue with my installed react-native-device-info or I was using an old version.

[2019-01-04 06:46] #556 closed

[2019-01-04 07:30] suwu150 opened #557 "Does the support determine whether the application is running for the first time?"
Does the support determine whether the application is running for the first time?

[2019-01-05 23:43] fgagneten commented on #475
The solution for me was running the following command

    react-native link react-native-device-info

[2019-01-06 09:26] machour opened #558 "Looking for a new maintainer"
Sadly I don't have the time to maintain this project anymore. Anyone wants to step up?

/CC @GantMan

[2019-01-10 03:33] lysuse opened #559 "Wired network getIpAddress can't efeect!"
## Some android devices have wired networking capabilities, but can't get their IP addresses right

|             |     |
| ----------- | --- |
| Version     | 0.24.2  |
| Affected OS |   Android |
| OS Version  | Androi 7.0   |

## Current behavior

## Expected behavior

[2019-01-11 22:02] sllvn commented on #475
I had the same problem with `0.24.3` and RN 0.57. Solution for me was to manually link (without Cocoapods). Neither `react-native link` or `pod install` methods worked for me.

[2019-01-13 18:00] GantMan commented on #558
No worries!  I'd love to get @rebeccahughes in here and see about contributing the project to the React Native Community.  That way it can survive forever.

[2019-01-15 09:06] luisfuertes commented on #127
@koswarabilly what line must delete? App crash with debugger active

[2019-01-15 09:55] MinaFSedrak commented on #444
Any update !!!

[2019-01-15 23:30] ivansifrim commented on #496
Same - @hsunami10, thoughts?

[2019-01-16 11:28] #543 closed, assigned to nobody

[2019-01-16 11:30] vin7974 commented on #462
Its something wrong with your GoogleInfo.plist, make sure your budleID is same with googleplist file. Open Xcode project and check bundleID and check package.json also have the same bundle ID

[2019-01-16 12:40] vishal-km commented on #475
`react-native link react-native-device-info`
This saved me

[2019-01-16 18:06] machour commented on #559
Please use the template and provide more information.

[2019-01-16 18:06] #559 closed

[2019-01-16 18:07] #516 closed

[2019-01-16 18:08] machour commented on #486
Is this still broken with last version?
I'll gladly accept a PR fixing this.

[2019-01-16 18:44] degamer106 commented on #470
Still seeing the same issue in 2019!  Using the latest version on iOS simulator running OS 12.1.

[2019-01-17 19:20] krionoah69 commented on #515
I have the same problem, any solutions ?

[2019-01-18 10:11] tclarke-scottlogic commented on #515
@krionoah69
https://github.com/rebeccahughes/react-native-device-info/issues/515#issuecomment-429259774

[2019-01-18 12:45] hcliff commented on #446
if you check the build dir it's not installing the same way as other libs, poking around as to why

<img width="700" alt="image" src="https://user-images.githubusercontent.com/481457/51387696-3d70fc00-1b27-11e9-8ab2-1a8a36aabf8b.png">

[2019-01-18 13:06] nikhilboranaarit commented on #462
![screenshot 2019-01-18 at 6 33 48 pm](https://user-images.githubusercontent.com/39380554/51388608-04994d00-1b50-11e9-94c2-092a4e139f2b.png)
in IOS.

[2019-01-18 23:20] yanush opened #561 "release 0.25 - hasNotch() for google pixel 3 xl"
This release should have listed Google Pixel 3 XL as hasNotch device but it hasn't

[2019-01-19 08:59] gatspy opened #562 "The connection to service named com.apple.commcenter.coretelephony.xpc was invalidated"
run app on simulator with 'iPhone X' from xcode, in debug area, show this error info.

## Detail Info
[code]

## Summary

`react-native info `

[code]

[2019-01-20 16:01] machour commented on #561
Added in 0.25.1

[2019-01-20 16:01] #561 closed

[2019-01-20 16:02] machour commented on #534
Done in 0.25.1

[2019-01-20 16:02] #534 closed

[2019-01-20 16:03] #427 closed

[2019-01-21 13:36] hcliff commented on #446
for me this seems to have been caused by conflicts with `npm link` and also using cocoapods. I resolved this by `rm -rf  ./ios` and rerunning `pod install` (without npm link).
@cbrwizard were you also using cocoapods?

[2019-01-21 14:03] cbrwizard commented on #446
@hcliff yes. I haven't tried your steps though.
I think RNDeviceInfo has the same issue sometimes for unknown reasons

[2019-01-22 09:53] TomDoge commented on #414
just put google() before jcenter() , and it`s OK

[2019-01-22 17:10] moh3n9595 commented on #423
Same issue

[2019-01-23 07:20] tayfunyasar commented on #260
Same here. React Native 0.57.7

[2019-01-23 22:59] ryohlan commented on #471
Did you see this troubleshooting? https://github.com/rebeccahughes/react-native-device-info#troubleshooting
I resolved.

[2019-01-24 01:32] toddpi314 commented on #228
@agates4  solution worked really well. Thanks man.

@kirill-konshin & @machour, you guy's crack me up.

[2019-01-24 01:57] kirill-konshin commented on #228
¯\_(ツ)_/¯

[2019-01-24 17:34] magrinj opened #564 "package com.learnium.RNDeviceInfo does not exist"
## Summary

Hello, I got an error every time I try to build my app on Android, I check all the similar issues, and try to downgrade to 0.23.0 and replace "implementation" by "compile" but that doesn't change anything.

|             |     |
| ----------- | --- |
| Version     |  0.25.1  |
| Affected OS |  Android  |
| OS Version  | SDK 27  |

## Current behavior

Every time I run the build I got:

[2019-01-25 10:09] Senocico commented on #470
The same issue... 😒

[2019-01-25 15:36] roisafirorichard commented on #260
Warning still exist, React Native 0.57.1

[2019-01-26 06:59] yusuf987 commented on #52
thanks chiragpurohit71085 your  solution worked for me

[2019-01-28 14:42] bansalayush commented on #527
Hey @tonmanayo can you explain what do you mean by `responses` . Didn't exactly get you there.

[2019-01-29 18:41] jeffbonasso-ambifi commented on #260
For me I initially had it as a Pod and I got the warning. By removing it as a Pod and manually linking it, the warning went away.

[2019-02-01 21:07] omerinjo commented on #365
i think i finde my problem,,, im using react-native-maps and react-native-push-notification. in react native project. when i link bouth at sime time my app crash before start. according to documentation https://github.com/zo0r/react-native-push-notification play-service-gcm and firebase-messaging, prior to version 15 requires to have the same version number in order to work correctly at build time